<app-breadcrumbs title="Profile" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<main class="row gap-3 pb-3" *ngIf="patientData">
    <section class="col-12">
        <div class="border rounded bg-white border-opacity-25 border-2" style="border-color: #c4cdd8;">
            <div class="d-flex p-4 align-items-center gap-3">
                <img src="{{avatarUrl ? avatarUrl : 'https://localhost:7139/Uploads/Images/default-user.jpg'}}"
                    alt="avatar" class="avatar-xl rounded-circle img-thumbnail">
                <div class="row gap-2">
                    <div class="col-12">
                        <h4>{{patientData.fullName}}</h4>
                    </div>
                    <div class="col-12">{{patientData.address}}</div>
                </div>
                <div class="align-self-start ms-auto">
                    <button class="btn btn-sm btn-outline-primary d-flex gap-2 align-items-center"
                        [routerLink]="'/patient/edit-profile/' +  userData.id" placement="top"
                        ngbTooltip="Edit Profile">
                        <i class="fs-3 las la-edit"></i>
                        <span class="d-none d-md-flex">Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="col-12">
        <div class="border rounded bg-white border-opacity-25 border-2" style="border-color: #c4cdd8;">
            <div class="row p-4 gap-3">
                <h5>Personal information</h5>
                <hr>
                <div class="col-12">
                    <div class="row g-3">
                        <div class="col-sm-5">
                            <label class="form-label">Full Name</label>
                            <p class="fs-6 text-muted fw-semibold">{{patientData.fullName}}</p>
                        </div>
                        <div class="col-sm-7">
                            <label class="form-label">Date of birth</label>
                            <p class="fs-6 text-muted fw-semibold">{{patientData.dateOfBirth}}</p>
                        </div>
                        <div class="col-sm-5">
                            <label class="form-label">Gender</label>
                            <p class="fs-6 text-muted fw-semibold">{{patientData.gender}}</p>
                        </div>
                        <div class="col-sm-7">
                            <label class="form-label">National Id</label>
                            <p class="fs-6 text-muted fw-semibold">{{patientData.nationalId}}</p>
                        </div>
                        <div class="col-sm-5">
                            <label class="form-label">Join time</label>
                            <p class="fs-6 text-muted fw-semibold">{{patientData.createdDate}}</p>
                        </div>
                        <div class="col-sm-7">
                            <label class="form-label">Last updated</label>
                            <p class="fs-6 text-muted fw-semibold">{{patientData.updatedDate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="col-12">
        <div class="border rounded bg-white border-opacity-25 border-2" style="border-color: #c4cdd8;">
            <div class="row p-4 gap-3">
                <h5>Contact</h5>
                <hr>
                <div class="col-12">
                    <div class="row g-3">
                        <div class="col-sm-5">
                            <label class="form-label">Phone number</label>
                            <p class="fs-6 text-muted fw-semibold">{{patientData.phoneNumber}}</p>
                        </div>
                        <div class="col-sm-7">
                            <label class="form-label">Email</label>
                            <p class="fs-6 text-muted fw-semibold">{{patientData.email}}</p>
                        </div>
                        <div class="col-sm-5">
                            <label class="form-label">
                                Address
                            </label>
                            <p class="fs-6 text-muted fw-semibold">{{patientData.address}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>