<app-breadcrumbs title="Make Appointment" [breadcrumbItems]="breadcrumbItems"></app-breadcrumbs>

<div class="row">
    <!-- Primary Alert -->
    <div class="col-12">
        <div class="alert bg-primary border-primary text-white" role="alert">
            <strong>Guide!</strong> Let's start with choosing <b>datetime</b> to display
            <b>list doctors on duty</b>
        </div>
    </div>
</div>

<div class="row py-2">
    <div class="col-12 col-lg-4">
        <div class="card">
            <div class="card-header border-0">
                <h5 class="card-title mb-0 flex-grow-1">Pick Datetime</h5>
            </div>
            <div class="card-body border border-dashed border-end-0 border-start-0">
                <div class="row gap-3">
                    <div class="col-12">
                        <label class="form-label mb-0">Date</label>
                        <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                            [(ngModel)]="workingDay" altFormat="d/m/Y" autocomplete="off" />

                    </div>
                    <div class="col-12">
                        <label class="form-label mb-0">Time</label>
                        <input class="form-control flatpickr-input" type="text" mwlFlatpickr [defaultValue]="'07:00'"
                            [(ngModel)]="workingTime" [noCalendar]="true" [enableTime]="true" [dateFormat]="'H:i'"
                            placeholder="hh:mm" id="cleave-time" autocomplete="off" />
                    </div>
                    <div class="col">
                        <button class="btn btn-soft-primary float-end" (click)="getDoctorsOnDuty()">Find
                            Doctor</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-8">
        <div class="card">
            <div class="card-header border-0">
                <h5 class="card-title mb-0 flex-grow-1">Doctors On Duty</h5>
            </div>
            <div class="card-body border border-dashed border-end-0 border-start-0 over">
                <form class="app-search d-none d-md-block">
                    <div class="position-sticky">
                        <div class="position-relative">
                            <input type="text" class="form-control" placeholder="Search doctor name or speciality"
                                [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" autocomplete=" off"
                                id="search-options" value="" (input)="searchInput($event)" />
                            <span class="mdi mdi-magnify search-widget-icon"></span>
                            <span class="mdi mdi-close-circle search-widget-icon search-widget-icon-close d-none"
                                id="search-close-options"></span>
                        </div>
                    </div>
                </form>
                <ngx-simplebar style="max-height: 220px; min-height: 100px;">
                    <div class="text-center" style="height: 100px;" *ngIf="!this.foundFlag">
                        <h5>No available data</h5>
                    </div>
                    <div>
                        <h5 class="text-center" style="height: 100px;" *ngIf="doctorData?.length === 0">Not
                            found any doctors</h5>
                        <ul class="list-group" *ngFor="let doctor of searchResults">
                            <li class="list-group-item">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 avatar-xs">
                                                <img src="{{doctor.avatarUrl}}" alt=""
                                                    class="avatar-title bg-danger-subtle text-danger rounded">
                                            </div>
                                            <div class="flex-shrink-0 ms-2">
                                                <h6 class="fs-14 mb-0">{{doctor.fullName}}</h6>
                                                <small class="text-muted">{{doctor.speciality}}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <button class="btn btn-sm btn-soft-primary"
                                            (click)="onSelect(doctor)">Choose</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </ngx-simplebar>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-header border-0">
                <h5 class="card-title mb-0 flex-grow-1"><i class="las la-pen-nib me-1 lh-1"></i> Record medical
                    appointment form</h5>
            </div>
            <div class="card-body border border-dashed border-end-0 border-start-0">
                <app-appointment-form [defaultData]="defaultData"></app-appointment-form>
            </div>
        </div>
        <!-- end col -->
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Activate Your Account</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>You have not activated your account yet. Please activate your account before making an appointment</p>
        <p><a routerLink="/patient/edit-profile/{{userData.id}}" (click)="modal.close('Save click')"
                class="link-primary link-offset-2 text-decoration-underline link-underline-opacity-25 link-underline-opacity-100-hover">Activate
                now</a></p>
    </div>
    <div class="modal-footer">
        <a routerLink="/" role="button" class="btn border-0 btn-outline-dark"
            (click)="modal.close('Save click')">Return to dashboard</a>
    </div>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>