<app-breadcrumbs title="Department Management" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="card">
    <div class="card-header border-0">
        <div class="d-flex align-items-center">
            <h5 class="card-title mb-0 flex-grow-1">Appointment List</h5>
        </div>
    </div>
    <div class="card-body border border-dashed border-end-0 border-start-0 border-bottom-0">
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                class="table table-bordered dt-responsive display nowrap" cellspacing="0" width="100%"></table>
        </div>
    </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>