<div class="control-section">
  <div class="drag-sample-wrapper">
    <div class="schedule-container" *ngIf="selectedDate && currentView && doctorResources">
      <ejs-schedule #scheduleObj cssClass='schedule-block-events' width='100%' height='100vh' [group]="group"
        [currentView]="selectedView" [selectedDate]="selectedDate" [eventSettings]="eventSettings"
        (currentViewChange)="currentViewChange($event)">
        <e-resources>
          <e-resource field='doctorId' title='Doctors' name='Doctor' [dataSource]='doctorResources'
            [allowMultiple]='allowMultiple' textField='fullName' idField='id' groupIDField="departmentId" colorField='#5ea3cb'>
          </e-resource>
        </e-resources>
        <ng-template #dateHeaderTemplate let-data>  
          <div [innerHTML]="formatDateHeader(data.date)"></div>
        </ng-template>
        <ng-template #resourceHeaderTemplate let-data>
          <div class="template-wrap">
            <div class="employee-category">
              <div>
                <img class="resource-image" *ngIf="getEmployeeImageName(data)"
                  src="https://localhost:7139/{{getEmployeeImageName(data)}}" />
              </div>
              <div class="resource-name">{{getEmployeeName(data)}}</div>
              <div class="designation">{{getEmployeeDesignation(data)}}</div>
            </div>
          </div>
        </ng-template>
        <!-- <ng-template #eventSettingsTemplate let-data>
          <div class='template-wrap'>
            <div class="subject">{{data.Subject}}</div>
          </div>
        </ng-template> -->
        <e-header-rows>
          <e-header-row [option]="headerOption"></e-header-row>
        </e-header-rows>
        <e-views>
          <e-view option="TimelineDay" [readonly]="false" displayName="Day" startHour="07:00" endHour="23:00"></e-view>
          <e-view option="TimelineWeek" [readonly]="false" displayName="Week"></e-view>
          <e-view option="TimelineWeek" [readonly]="false" displayName="Half Month" interval="2"></e-view>
          <e-view option="TimelineMonth" [readonly]="false" displayName="Month"></e-view>
        </e-views>
      </ejs-schedule>
    </div>
  </div>
</div>