<app-breadcrumbs title="Prescriptions" [breadcrumbItems]="breadcrumbItems"></app-breadcrumbs>

<div class="row">
    <div class="col-12">
        <!-- Bordered Tables -->
        <div class="card">
            <div class="card-header">
                <h5>Prescription Details</h5>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-nowrap">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Status</th>
                            <th scope="col">Assignee</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let drug of drugData; let i = index">
                            <th><span>{{drug.no}}</span></th>
                            <td><input type="text" class="form-control" [(ngModel)]="drug.title"></td>
                            <td><input type="text" class="form-control" [(ngModel)]="drug.status"></td>
                            <td><input type="text" class="form-control" [(ngModel)]="drug.assignee"></td>
                            <td><input type="text" class="form-control" [(ngModel)]="drug.price"></td>
                            <td>
                                <button class="btn btn-sm btn-soft-danger" (click)="deleteRow(i)"><i
                                        class="las la-times"></i> Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" scope="row">
                                <button class="btn btn-sm btn-outline-primary border-0" (click)="addRow()">
                                    <i class="las la-plus"></i> Add Row
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="card-footer">
                    <div class="d-flex justify-content-end gap-3">
                        <button class="btn btn-outline-light text-dark" (click)="resetRows()"><i class="las la-undo-alt"></i> Reset</button>

                        <button class="btn btn-soft-success"><i class="las la-save"></i> Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>