<app-breadcrumbs title="View Appointment" [breadcrumbItems]="breadcrumbItems"></app-breadcrumbs>
<div class="row" *ngIf="appointmentDetails">
    <div class="col-lg-2 appt-menu cs-close">
        <div class="card">
            <div class="card-body p-2">
                <ul ngbNav #verticalNav="ngbNav" [activeId]="1"
                    class="nav flex-row flex-lg-column nav-pills justify-content-between">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink>
                            <p class="d-flex align-items-center m-0 py-2 gap-2" placement="right"
                                ngbTooltip="Appointment Form">
                                <span>
                                    <i class="las la-pen-nib fs-5"></i>
                                </span>
                                <span class="d-none d-lg-flex item-title">Appointment Form</span>
                            </p>
                        </a>
                        <ng-template ngbNavContent>
                            <div class="card">
                                <div class="card-header border-0">
                                    <h5 class="card-title mb-0 flex-grow-1"><i class="las la-pen-nib me-1 lh-1"></i>
                                        Medical
                                        Appointment Form</h5>
                                </div>
                                <div class="card-body border border-dashed border-end-0 border-start-0 border-bottom-0"
                                    *ngIf="appointmentDetails">
                                    <div
                                        class="container border border-{{setBgColor(appointmentDetails.appointmentStatus)}} p-3">
                                        <div class="d-sm-flex d-none border-bottom">
                                            <div class="form-logo">
                                                <span class="logo-lg">
                                                    <span class="logo-dark-text">MA</span>
                                                </span>
                                            </div>
                                            <div>
                                                <div>
                                                    <h5>Can Tho City Central General Hospital</h5>
                                                </div>
                                                <div>
                                                    <strong>Address:</strong> Ly Tu Trong Street, An Khanh Ward,
                                                    Ninh District
                                                    Kieu, Can Tho City
                                                </div>
                                                <div><strong>Hotline: </strong>0821-095-399</div>
                                                <div>
                                                    <strong>Email: </strong>info&#64;hospital.com -
                                                    <strong> Website: </strong>www.facebook.com
                                                </div>
                                            </div>
                                            <div class="ms-auto fs-5">
                                                <span
                                                    class="badge bg-{{setBgColor(appointmentDetails.appointmentStatus)}} text-capitalize">{{appointmentDetails.appointmentStatus}}</span>
                                            </div>
                                        </div>
                                        <!-- <hr /> -->
                                        <h2 class="py-3 text-center">MEDICAL APPOINTMENT FORM</h2>
                                        <form [formGroup]="appointmentForm">
                                            <div class="row gap-lg-3">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-7 mb-sm-3">
                                                            <div
                                                                class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
                                                                <label for="patientName"
                                                                    class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                                                                    style="min-width: 130px;">Patient
                                                                    <span class="text-danger">*</span></label>
                                                                <div class="w-100">
                                                                    <input type="text" autocomplete="off"
                                                                        placeholder="Enter your name" readonly
                                                                        class="form-control" id="patientName"
                                                                        formControlName="PatientName">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-5 mb-sm-3">
                                                            <div
                                                                class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
                                                                <label for="gender"
                                                                    class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                                                                    style="min-width: 130px;">Gender<span
                                                                        class="text-danger">*</span></label>
                                                                <div class="w-100">
                                                                    <select id="gender" class="form-select"
                                                                        aria-label="Default select example"
                                                                        formControlName="Gender">
                                                                        <option value="0">Male</option>
                                                                        <option value="1">Female</option>
                                                                        <option value="2">Others</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-4 mb-sm-3">
                                                            <div
                                                                class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
                                                                <label for="phoneNumber"
                                                                    class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                                                                    style="min-width: 130px;">Mobile
                                                                    <span class="text-danger">*</span></label>
                                                                <div class="w-100">
                                                                    <input type="text" readonly autocomplete="off"
                                                                        placeholder="Enter your phone number"
                                                                        class="form-control flex-grow-1"
                                                                        id="phoneNumber"
                                                                        formControlName="PatientPhoneNumber">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 mb-sm-3">
                                                            <div
                                                                class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
                                                                <label for="dateOfBirth"
                                                                    class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                                                                    style="min-width: 130px;">Date of
                                                                    birth <span class="text-danger">*</span></label>
                                                                <div class="w-100">
                                                                    <input type="date" class="form-control"
                                                                        id="dateOfBirth"
                                                                        formControlName="PatientBirthDay" readonly>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 mb-sm-3">
                                                            <div
                                                                class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
                                                                <label for="email"
                                                                    class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                                                                    style="min-width: 130px;">Email <span
                                                                        class="text-danger">*</span></label>
                                                                <div class="w-100">
                                                                    <input type="text" readonly autocomplete="off"
                                                                        placeholder="Enter your email"
                                                                        class="form-control" id="email"
                                                                        formControlName="PatientEmail">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-12 mb-sm-3">
                                                            <div
                                                                class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
                                                                <label for="address"
                                                                    class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                                                                    style="min-width: 130px;">Address
                                                                    <span class="text-danger">*</span></label>
                                                                <div class="w-100">
                                                                    <input type="text" readonly autocomplete="off"
                                                                        placeholder="Enter your address"
                                                                        class="form-control flex-grow-1" id="address"
                                                                        formControlName="PatientAddress">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-6 mb-sm-3">
                                                            <div
                                                                class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
                                                                <label for="appointmentDate"
                                                                    class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                                                                    style="min-width: 130px;">Appointment date <span
                                                                        class="text-danger">*</span></label>
                                                                <div class="w-100">
                                                                    <input type="date" class="form-control flex-grow-1"
                                                                        id="appointmentDate"
                                                                        formControlName="AppointmentDate" readonly>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 mb-sm-3">
                                                            <div
                                                                class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
                                                                <label for="time"
                                                                    class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                                                                    style="min-width: 130px;">Time
                                                                    <span class="text-danger">*</span></label>
                                                                <div class="w-100">
                                                                    <input class="form-control flatpickr-input"
                                                                        type="text" id="time" formControlName="Time"
                                                                        mwlFlatpickr [defaultValue]="'07:00'"
                                                                        [noCalendar]="true" [enableTime]="false"
                                                                        [dateFormat]="'H:i'" [time24hr]="true"
                                                                        placeholder="hh:mm" id="cleave-time"
                                                                        autocomplete="off" readonly />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-8 mb-sm-3">
                                                            <div
                                                                class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
                                                                <label for="doctorName"
                                                                    class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                                                                    style="min-width: 130px;">Doctor <span
                                                                        class="text-danger">*</span></label>
                                                                <div class="w-100">
                                                                    <input type="text" readonly autocomplete="off"
                                                                        placeholder="Choose a doctor"
                                                                        class="form-control flex-grow-1 bg-primary-subtle"
                                                                        id="doctorName" formControlName="DoctorName">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 mb-sm-3">
                                                            <div
                                                                class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
                                                                <label for="speciality"
                                                                    class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                                                                    style="min-width: 130px;">Speciality <span
                                                                        class="text-danger">*</span></label>
                                                                <div class="w-100">
                                                                    <input type="text" readonly autocomplete="off"
                                                                        placeholder="Speciality of doctor"
                                                                        class="form-control flex-grow-1 bg-primary-subtle"
                                                                        id="speciality" formControlName="Speciality">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-8 mb-sm-3">
                                                            <div
                                                                class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
                                                                <label for="modeOfConsultant"
                                                                    class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                                                                    style="min-width: 130px;">Mode of consultant
                                                                    <span class="text-danger">*</span></label>
                                                                <select id="gender" class="form-select"
                                                                    aria-label="Default select example"
                                                                    id="modeOfConsultant"
                                                                    formControlName="ModeOfConsultant">
                                                                    <option value="1">Tele Consultant</option>
                                                                    <option value="2">Visual Consultant</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 mb-sm-3">
                                                            <div
                                                                class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
                                                                <label for="consultantType"
                                                                    class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                                                                    style="min-width: 130px;">Consultant type <span
                                                                        class="text-danger">*</span></label>
                                                                <select id="gender" class="form-select"
                                                                    aria-label="Default select example"
                                                                    id="consultantType"
                                                                    formControlName="ConsultantType">
                                                                    <option value="1">Video</option>
                                                                    <option value="2">Audio</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-12 mb-sm-3">
                                                            <div class="d-flex flex-lg-row flex-column gap-2">
                                                                <label for="existingIllness"
                                                                    class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0 pt-1"
                                                                    style="min-width: 130px;">Existing
                                                                    illness</label>
                                                                <textarea [spellcheck]="false" class="form-control"
                                                                    placeholder="Enter your medical history if any"
                                                                    id="existingIllness" readonly style="height: 100px"
                                                                    formControlName="ExistingIllness"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-12 mb-sm-3">
                                                            <div class="d-flex flex-lg-row flex-column gap-2">
                                                                <label for="drugAllergies"
                                                                    class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                                                                    style="min-width: 130px;">Allergies
                                                                </label>
                                                                <textarea [spellcheck]="false" class="form-control"
                                                                    placeholder="Enter your allergy medications if any"
                                                                    id="drugAllergies" readonly style="height: 100px"
                                                                    formControlName="Allergies"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-12 mb-sm-3">
                                                            <div class="d-flex flex-lg-row flex-column gap-2">
                                                                <label for="note"
                                                                    class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                                                                    style="min-width: 130px;">Notes</label>
                                                                <textarea [spellcheck]="false" class="form-control"
                                                                    placeholder="Enter notes if any" id="note" readonly
                                                                    style="height: 100px"
                                                                    formControlName="Notes"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink>
                            <p class="d-flex align-items-center m-0 py-2 gap-2" placement="right"
                                ngbTooltip="Change Appointment Date">
                                <span>
                                    <i class="las la-clock fs-5"></i>
                                </span>
                                <span class="d-none d-lg-flex item-title">Change Appointment Date</span>
                            </p>
                        </a>
                        <ng-template ngbNavContent>
                            <div class="card">
                                <div class="card-header border-0">
                                    <h5 class="card-title mb-0 flex-grow-1"><i class="las la-clock me-1 lh-1"></i>
                                        Change Appointment Date</h5>
                                </div>
                                <div class="card-body border border-dashed border-end-0 border-start-0 border-bottom-0">
                                    <div class="row gap-3">
                                        <div class="col">
                                            <label for="form-label" for="appointmentDate">Appointment Date</label>
                                            <input type="text" id="appointmentDate" class="form-control" mwlFlatpickr
                                                [altInput]="true" [convertModelValue]="true"
                                                [(ngModel)]="appointmentDate">
                                        </div>
                                        <div class="col">
                                            <label for="form-label" for="appointmentDate">Time</label>
                                            <input type="text" id="appointmentDate" class="form-control" mwlFlatpickr
                                                [noCalendar]="true" [enableTime]="true" [dateFormat]="'H:i'"
                                                [(ngModel)]="appointmentTime">
                                        </div>
                                        <div class="d-flex gap-3">
                                            <button class="btn btn-light ms-auto"
                                                (click)="resetAppointmentDate()">Reset</button>
                                            <button class="btn btn-success">Save changes</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="3">
                        <a ngbNavLink (click)="fetchDiagnosis()">
                            <p class="d-flex align-items-center m-0 py-2 gap-2" placement="right"
                                ngbTooltip="Diagnosis">
                                <span>
                                    <i class="las la-stethoscope fs-5"></i>
                                </span>
                                <span class="d-none d-lg-flex item-title">Diagnosis</span>
                            </p>
                        </a>
                        <ng-template ngbNavContent>
                            <div class="card" *ngIf="diagnosisDetails">
                                <div class="card-header border-0">
                                    <h5 class="card-title mb-0 flex-grow-1"><i class="las la-stethoscope me-1 lh-1"></i>
                                        Diagnosis</h5>
                                </div>
                                <div class="card-body border border-dashed border-end-0 border-start-0 border-bottom-0">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-12 mb-sm-3">
                                                <div class="d-flex flex-lg-row flex-column gap-2">
                                                    <label for="diagnosis"
                                                        class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0 pt-1"
                                                        style="min-width: 130px;">Diagnosis</label>
                                                    <textarea [spellcheck]="false" class="form-control"
                                                        placeholder="Enter diagnosis if any" id="diagnosis"
                                                        style="height: 100px"
                                                        [(ngModel)]="this.diagnosisDetails.diagnosis"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-12 mb-sm-3">
                                                <div class="d-flex flex-lg-row flex-column gap-2">
                                                    <label for="caseNote"
                                                        class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                                                        style="min-width: 130px;">Case Note</label>
                                                    <textarea [spellcheck]="false" class="form-control"
                                                        placeholder="Enter case note if any" id="caseNote"
                                                        style="height: 100px"
                                                        [(ngModel)]="this.diagnosisDetails.caseNote"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-12 mb-sm-3">
                                                <div class="d-flex flex-lg-row flex-column gap-2">
                                                    <label for="adviceToPatient"
                                                        class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                                                        style="min-width: 130px;">Advice To Patient</label>
                                                    <textarea [spellcheck]="false" class="form-control"
                                                        placeholder="Enter advice to patient if any"
                                                        id="adviceToPatient" style="height: 100px"
                                                        [(ngModel)]="this.diagnosisDetails.adviceToPatient"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex gap-3">
                                        <button class="btn btn-light ms-auto" (click)="resetDiagnosis()">Reset</button>
                                        <button class="btn btn-success"
                                            (click)="updateDiagnosis(appointmentDetails.id, diagnosisDetails)">Save
                                            changes</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="4">
                        <a ngbNavLink (click)="fetchPrescription()">
                            <p class="d-flex align-items-center m-0 py-2 gap-2" placement="right"
                                ngbTooltip="Prescription">
                                <span>
                                    <i class="las la-pills fs-5"></i>
                                </span>
                                <span class="d-none d-lg-flex item-title">Prescription</span>
                            </p>
                        </a>
                        <ng-template ngbNavContent>
                            <div class="card">
                                <div class="card-header border-0">
                                    <h5 class="card-title mb-0 flex-grow-1"><i class="las la-pills me-1 lh-1"></i>
                                        Prescription</h5>
                                </div>
                                <div class="card-body border border-dashed border-end-0 border-start-0 border-bottom-0">
                                    <div class="row gap-3">
                                        <div class="d-flex">
                                            <button class="btn btn-soft-primary ms-auto" (click)="addRow()">Add
                                                row</button>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>No.</th>
                                                        <th>Drug</th>
                                                        <th>Freq <span class="fw-light">(per one day)</span></th>
                                                        <th>Medical Day</th>
                                                        <th>Quantity</th>
                                                        <th>Unit</th>
                                                        <th>Note</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let pres of prescriptions; let i = index">
                                                        <td>{{i+1}}</td>
                                                        <td>
                                                            <input type="text" class="form-control"
                                                                [ngClass]="{'is-invalid': pres_submitted && !pres.drug}"
                                                                [(ngModel)]="pres.drug">
                                                            <span class="invalid-feedback">This field is
                                                                required</span>
                                                        </td>
                                                        <td>
                                                            <select type="text" class="form-select"
                                                                [ngClass]="{'is-invalid': pres_submitted && !pres.frequency}"
                                                                [(ngModel)]="pres.frequency">
                                                                <option *ngFor="let item of frequencyDropdownItems" [value]="item.value">{{item.text}}</option>
                                                            </select>
                                                            <span class="invalid-feedback">This field is
                                                                required</span>

                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control"
                                                                [ngClass]="{'is-invalid': pres_submitted && !pres.medicationDays}"
                                                                [(ngModel)]="pres.medicationDays">
                                                            <span class="invalid-feedback">This field is
                                                                required</span>

                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control"
                                                                [ngClass]="{'is-invalid': pres_submitted && !pres.quantity}"
                                                                [(ngModel)]="pres.quantity">
                                                            <span class="invalid-feedback">This field is
                                                                required</span>

                                                        </td>
                                                        <td>
                                                            <select type="text" class="form-select"
                                                                [ngClass]="{'is-invalid': pres_submitted && !pres.unit}"
                                                                [(ngModel)]="pres.unit">
                                                                <option *ngFor="let item of unitDropdownItems" [value]="item.value" >{{item.text}}</option>
                                                            </select>
                                                            <span class="invalid-feedback">This field is
                                                                required</span>

                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control"
                                                                [(ngModel)]="pres.note">
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-sm btn-soft-danger"
                                                                (click)="deleteRow(i)">Delete</button>
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="prescriptions.length == 0">
                                                        <td colspan="8" class="text-center">No found any prescription
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="d-flex gap-3">
                                            <button class="btn btn-light ms-auto"
                                                (click)="resetPrescriptions()">Reset</button>
                                            <button class="btn btn-success" type="submit"
                                                (click)="savePrescriptions(appointmentDetails.id, prescriptions)">Save
                                                changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-10 appt-content">
        <div class="card">
            <div class="card-body p-2">
                <ul class="list-group list-group-horizontal gap-3 justify-content-between justify-content-lg-end"
                    *ngIf="appointmentDetails">
                    <li class="list-group-item border-0 p-0 me-auto d-lg-flex d-none" (click)="toggleMenu()">
                        <button type="button" class="btn btn-soft-success btn-icon btn-sm fs-16 email-menu-btn">
                            <i class="ri-menu-2-fill align-bottom"></i>
                        </button>
                    </li>
                    <li class="list-group-item border-0 p-0">
                        <button class="btn btn-sm btn-outline-primary"
                            (click)="updateAppointmentStatus(appointmentDetails.id, 'Confirmed')"
                            [disabled]="appointmentDetails.appointmentStatus == 'Cancelled' || appointmentDetails.appointmentStatus == 'Confirmed'">Confirmed</button>
                    </li>
                    <li class="list-group-item border-0 p-0">
                        <button class="btn btn-sm btn-outline-success"
                            (click)="updateAppointmentStatus(appointmentDetails.id, 'Completed')"
                            [disabled]="appointmentDetails.appointmentStatus == 'Cancelled' || appointmentDetails.appointmentStatus !== 'Confirmed'">Completed</button>
                    </li>
                    <li class="list-group-item border-0 p-0">
                        <button class="btn btn-sm btn-outline-danger"
                            (click)="updateAppointmentStatus(appointmentDetails.id, 'Cancelled')"
                            [disabled]="appointmentDetails.appointmentStatus == 'Cancelled'">Cancel</button>
                    </li>
                </ul>
            </div>
        </div>

        <div [ngbNavOutlet]="verticalNav">
        </div>
    </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>