<app-breadcrumbs title="View Appointment"></app-breadcrumbs>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header border-0">
                <h5 class="card-title mb-0 flex-grow-1"><i class="las la-pen-nib me-1 lh-1"></i> Record medical
                    appointment form</h5>
            </div>
            <div class="card-body border border-dashed border-end-0 border-start-0 border-bottom-0">
                <app-appointment-form></app-appointment-form>
            </div>
        </div>
        <!-- end col -->
    </div>
</div>