<!-- Bordered Tables -->
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr class="bg-light">
                <th scope="col" class="bg-white"></th>
                <th *ngFor="let header of headers" colspan="2">
                    <p class="p-0 m-0">{{header.hours}}</p>
                    <span class="desc">{{header.desc}}</span>
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let doctor of doctors; let i = index">
            <tr>
                <td>{{doctor.fullName}}</td>
                <td *ngFor="let hour of headers; let j = index" colspan="2" [ngClass]="{'position-relative': true}">
                    <div *ngFor="let shift of doctor.shifts">
                        <a *ngIf="j == calculateStartingLine(shift.start).startIndex" (click)="viewEventDetails($event)"
                            id="{{shift.id}}"
                            class="btn btn-sm btn-{{shift.shiftName.includes('Morning')? 'primary' : shift.shiftName.includes('Afternoon') ? 'success' : 'warning'}} text-center rounded position-absolute top-50  translate-middle-y"
                            [ngClass]="{'start-0': !calculateStartingLine(shift.start).half}"
                            [ngStyle]="{'width': calculateTimelineWidth(shift.start, shift.end)}">{{shift.start}} -
                            {{shift.end}}</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #ViewModal let-modal>
    <div id="event-modal" *ngIf="this.selectedSchedule">
        <div class="modal-content border-0">
            <div class="modal-header p-3 bg-info-subtle">
                <h5>Schedule details of {{this.selectedSchedule.fullName}}</h5>
                <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body p-4">
                <!-- <label for="fullName">Doctor</label>
                <p id="fullName">{{this.selectedSchedule.fullName}}</p>
                <label for="fullName">Speciality</label>
                <p id="fullName">{{this.selectedSchedule.fullName}}</p> -->
                <div class="col-12">
                    <div class="d-flex gap-2">
                        <i class="ri-calendar-event-line text-muted fs-lg"></i>
                        <p>Date: <span class="fw-bold">{{this.selectedSchedule.appointmentDate}}</span></p>
                    </div>
                </div>
                <div
                    class="card border card-border-{{this.selectedSchedule.shiftName.includes('Morning') ? 'primary' : this.selectedSchedule.shiftName.includes('Afternoon') ? 'success' : 'warning' }}">
                    <div class="card-header py-2">
                        <h6 class="fw-bold">{{this.selectedSchedule.shiftName}}</h6>
                    </div>
                    <div class="card-body">
                        <div class="d-flex gap-2">
                            <i class="ri-time-line text-muted fs-lg"></i>
                            <p>
                                Time:
                                <span class="fw-bold">{{this.selectedSchedule.start}}</span> -
                                <span class="fw-bold">{{this.selectedSchedule.end}}</span>
                            </p>
                        </div>
                        <div class="d-flex gap-2">
                            <i class="ri-discuss-line text-muted fs-lg"></i>
                            <span>Description: Default description</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-soft-danger" id="btn-delete-event"
                        (click)="modal.dismiss('Close button')"><i class="ri-close-line align-bottom"></i>
                        Close</button>
                </div>
            </div>
        </div> <!-- end modal-content-->
    </div> <!-- end modal dialog-->
</ng-template>