<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Medical Process" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="card bg-transparent">
    <div class="card-header">
        <h5>Online appointment booking process</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <div class="timeline">
                        <div class="timeline-item left">
                            <i class="icon ri-registered-line"></i>
                            <div class="content">
                                <div class="d-flex">
                                    <div class="flex-grow-1 ms-3">
                                        <h5>Register an account on the website</h5>
                                        <p class="text-muted mb-2">Register a new account if you don't have an account
                                            yet. You
                                            need to provide a valid username, password and email address to facilitate
                                            future
                                            contact.</p>
                                        <!-- <div class="hstack gap-2">
                                        <a class="btn btn-sm btn-light"><span class="me-1">🔥</span> 19</a>
                                        <a class="btn btn-sm btn-light"><span class="me-1">🤩</span> 22</a>
                                    </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item right">
                            <i class="icon ri-login-box-line"></i>
                            <div class="content">
                                <h5>Log in to your account on the website</h5>
                                <p class="text-muted">Enter the website address and log in with your registered account
                                    and
                                    password</p>
                            </div>
                        </div>
                        <div class="timeline-item left">
                            <i class="icon ri-pen-nib-line"></i>
                            <div class="content">
                                <h5>Register personal information</h5>
                                <p class="text-muted">Open Your Profile page and provide all required information
                                    (Fields marked
                                    with red Asterisk)
                            </div>
                        </div>
                        <div class="timeline-item right">
                            <i class="icon ri-calendar-line"></i>
                            <div class="content">
                                <h5>Make an appointment</h5>
                                <p class="text-muted">Select the time you want to make an appointment to see the list of
                                    doctors
                                    on duty. Click the Choose button on the doctor's information bar and edit the
                                    necessary
                                    information in the Medical Appointment Form if necessary to make an appointment.</p>
                            </div>
                        </div>
                        <div class="timeline-item left">
                            <i class="icon ri-mail-check-line"></i>
                            <div class="content">
                                <h5>Wait to receive appointment confirmation information from the doctor</h5>
                                <p class="text-muted">Regularly check your email and appointment management page to see
                                    the
                                    doctor's form confirmation results</p>
                            </div>
                        </div>
                        <div class="timeline-item right">
                            <i class="icon ri-bring-to-front"></i>
                            <div class="content">
                                <h5>Bring medical appointment form for medical examination</h5>
                                <p class="text-muted mb-2">
                                    Bring your medical appointment form and related documents to the hospital according
                                    to your
                                    appointment for medical examination
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div>
</div>
<div class="card bg-transparent">
    <div class="card-header">
        <h5>Make an appointment via hotline</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <div class="timeline">
                        <div class="timeline-item left">
                            <i class="icon ri-stack-line"></i>
                            <div class="content">
                                <div class="d-flex">
                                    <div class="flex-grow-1 ms-3">
                                        <h5>Call the via hotline</h5>
                                        <p class="text-muted mb-2">Call the hospital's hotline to schedule an
                                            appointment at
                                            0885 - xxx - xxx.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item right">
                            <i class="icon ri-vip-diamond-line"></i>
                            <div class="content">
                                <h5>Provide personal information as instructed</h5>
                                <p class="text-muted">Listen and follow operator instructions</p>
                            </div>
                        </div>
                        <div class="timeline-item left">
                            <i class="icon ri-pen-nib-line"></i>
                            <div class="content">
                                <h5>Operator will guide you through the medical examination registration procedures</h5>
                                <p class="text-muted">The operator will complete the appointment booking application and
                                    provide
                                    you with the necessary information</p>
                            </div>
                        </div>
                        <div class="timeline-item right">
                            <i class="icon ri-shield-star-line"></i>
                            <div class="content">
                                <h5>Additionally, you can make an appointment directly at the hospital</h5>
                                <p class="text-muted fst-italic mb-2">You can also go directly to the hospital to make
                                    an on-site appointment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div>
</div>