<app-breadcrumbs title="Schedule of doctors" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex gap-3 ">
                        <img src="assets/images/nft/img-01.jpg" class="flex-shrink-0 align-self-start" width="50"
                            alt="department-icon">
                        <div class="d-flex flex-column">
                            <h5>Timothy Smith</h5>
                            <div><i class="mdi mdi-ethereum text-primary"></i> 4,754 ETH</div>

                        </div>
                        <div>
                            <button class="btn btn-outline-light border-0"><i
                                    class="ri ri-more-fill text-info"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex gap-3 ">
                        <img src="assets/images/nft/img-01.jpg" class="flex-shrink-0 align-self-start" width="50"
                            alt="department-icon">
                        <div class="d-flex flex-column">
                            <h5>Timothy Smith</h5>
                            <div><i class="mdi mdi-ethereum text-primary"></i> 4,754 ETH</div>

                        </div>
                        <div>
                            <button class="btn btn-outline-light border-0"><i
                                    class="ri ri-more-fill text-info"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex gap-3 ">
                        <img src="assets/images/nft/img-01.jpg" class="flex-shrink-0 align-self-start" width="50"
                            alt="department-icon">
                        <div class="d-flex flex-column">
                            <h5>Timothy Smith</h5>
                            <div><i class="mdi mdi-ethereum text-primary"></i> 4,754 ETH</div>
                        </div>
                        <div>
                            <button class="btn btn-outline-light border-0"><i
                                    class="ri ri-more-fill text-info"></i></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex gap-3 ">
                        <img src="assets/images/nft/img-01.jpg" class="flex-shrink-0 align-self-start" width="50"
                            alt="department-icon">
                        <div class="d-flex flex-column">
                            <h5>Timothy Smith</h5>
                            <div><i class="mdi mdi-ethereum text-primary"></i> 4,754 ETH</div>

                        </div>
                        <div>
                            <button class="btn btn-outline-light border-0"><i
                                    class="ri ri-more-fill text-info"></i></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex gap-3 ">
                        <img src="assets/images/nft/img-01.jpg" class="flex-shrink-0 align-self-start" width="50"
                            alt="department-icon">
                        <div class="d-flex flex-column">
                            <h5>Timothy Smith</h5>
                            <div><i class="mdi mdi-ethereum text-primary"></i> 4,754 ETH</div>

                        </div>
                        <div>
                            <button class="btn btn-outline-light border-0"><i
                                    class="ri ri-more-fill text-info"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex gap-3 ">
                        <img src="assets/images/nft/img-01.jpg" class="flex-shrink-0 align-self-start" width="50"
                            alt="department-icon">
                        <div class="d-flex flex-column">
                            <h5>Timothy Smith</h5>
                            <div><i class="mdi mdi-ethereum text-primary"></i> 4,754 ETH</div>

                        </div>
                        <div>
                            <button class="btn btn-outline-light border-0"><i
                                    class="ri ri-more-fill text-info"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex gap-3 ">
                        <img src="assets/images/nft/img-01.jpg" class="flex-shrink-0 align-self-start" width="50"
                            alt="department-icon">
                        <div class="d-flex flex-column">
                            <h5>Timothy Smith</h5>
                            <div><i class="mdi mdi-ethereum text-primary"></i> 4,754 ETH</div>
                        </div>
                        <div>
                            <button class="btn btn-outline-light border-0"><i
                                    class="ri ri-more-fill text-info"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex gap-3 ">
                        <img src="assets/images/nft/img-01.jpg" class="flex-shrink-0 align-self-start" width="50"
                            alt="department-icon">
                        <div class="d-flex flex-column">
                            <h5>Timothy Smith</h5>
                            <div><i class="mdi mdi-ethereum text-primary"></i> 4,754 ETH</div>
                        </div>
                        <div>
                            <button class="btn btn-outline-light border-0"><i
                                    class="ri ri-more-fill text-info"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row row-cols-xl-5 row-cols-lg-3 row-cols-md-2 row-cols-1">
    <div class="col">
        <div class="card">
            <img src="assets/images/nft/img-03.jpg" class="object-fit-cover card-img-top" style="height: 120px;" alt="">
            <div class="card-body text-center">
                <img src="assets/images/users/avatar-2.jpg" alt=""
                    class="avatar-md rounded-circle object-fit-cover mt-n5 img-thumbnail border-light mx-auto d-block">
                <a routerLink="/pages/profile">
                    <h5 class="mt-2 mb-1">Michael Morris</h5>
                </a>
                <p class="text-muted mb-2">9905 Products</p>
                <p class="text-muted">You can make an NFT of a digital painting, a text, a piece of music, a video.</p>
                <button class="btn w-100 btn-success">Follow</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="assets/images/nft/img-03.jpg" class="object-fit-cover card-img-top" style="height: 120px;" alt="">
            <div class="card-body text-center">
                <img src="assets/images/users/avatar-2.jpg" alt=""
                    class="avatar-md rounded-circle object-fit-cover mt-n5 img-thumbnail border-light mx-auto d-block">
                <a routerLink="/pages/profile">
                    <h5 class="mt-2 mb-1">Michael Morris</h5>
                </a>
                <p class="text-muted mb-2">9905 Products</p>
                <p class="text-muted">You can make an NFT of a digital painting, a text, a piece of music, a video.</p>
                <button class="btn w-100 btn-success">Follow</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="assets/images/nft/img-03.jpg" class="object-fit-cover card-img-top" style="height: 120px;" alt="">
            <div class="card-body text-center">
                <img src="assets/images/users/avatar-2.jpg" alt=""
                    class="avatar-md rounded-circle object-fit-cover mt-n5 img-thumbnail border-light mx-auto d-block">
                <a routerLink="/pages/profile">
                    <h5 class="mt-2 mb-1">Michael Morris</h5>
                </a>
                <p class="text-muted mb-2">9905 Products</p>
                <p class="text-muted">You can make an NFT of a digital painting, a text, a piece of music, a video.</p>
                <button class="btn w-100 btn-success">Follow</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="assets/images/nft/img-03.jpg" class="object-fit-cover card-img-top" style="height: 120px;" alt="">
            <div class="card-body text-center">
                <img src="assets/images/users/avatar-2.jpg" alt=""
                    class="avatar-md rounded-circle object-fit-cover mt-n5 img-thumbnail border-light mx-auto d-block">
                <a routerLink="/pages/profile">
                    <h5 class="mt-2 mb-1">Michael Morris</h5>
                </a>
                <p class="text-muted mb-2">9905 Products</p>
                <p class="text-muted">You can make an NFT of a digital painting, a text, a piece of music, a video.</p>
                <button class="btn w-100 btn-success">Follow</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="assets/images/nft/img-03.jpg" class="object-fit-cover card-img-top" style="height: 120px;" alt="">
            <div class="card-body text-center">
                <img src="assets/images/users/avatar-2.jpg" alt=""
                    class="avatar-md rounded-circle object-fit-cover mt-n5 img-thumbnail border-light mx-auto d-block">
                <a routerLink="/pages/profile">
                    <h5 class="mt-2 mb-1">Michael Morris</h5>
                </a>
                <p class="text-muted mb-2">9905 Products</p>
                <p class="text-muted">You can make an NFT of a digital painting, a text, a piece of music, a video.</p>
                <button class="btn w-100 btn-success">Follow</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="assets/images/nft/img-03.jpg" class="object-fit-cover card-img-top" style="height: 120px;" alt="">
            <div class="card-body text-center">
                <img src="assets/images/users/avatar-2.jpg" alt=""
                    class="avatar-md rounded-circle object-fit-cover mt-n5 img-thumbnail border-light mx-auto d-block">
                <a routerLink="/pages/profile">
                    <h5 class="mt-2 mb-1">Michael Morris</h5>
                </a>
                <p class="text-muted mb-2">9905 Products</p>
                <p class="text-muted">You can make an NFT of a digital painting, a text, a piece of music, a video.</p>
                <button class="btn w-100 btn-success">Follow</button>
            </div>
        </div>
    </div>
</div>