<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Manage Schedule" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<!-- <div class="row">
    <div class="col-xxl-6 col-sm-6">
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="fw-semibold text-muted mb-0">Total Doctors</p>
                        <h2 class="mt-4 ff-secondary fw-semibold"><span [countUp]="547" class="counter-value"
                                [options]="option"></span>k</h2>
                        <p class="mb-0 text-muted"><span class="badge bg-light text-success mb-0">
                                <i class="ri-arrow-up-line align-middle"></i> 17.32 %
                            </span> vs. previous month</p>
                    </div>
                    <div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-info-subtle text-info rounded-circle fs-4">
                                <i class="ri-ticket-2-line"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    
    <div class="col-xxl-6 col-sm-6">
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="fw-semibold text-muted mb-0">Doctors on duty</p>
                        <h2 class="mt-4 ff-secondary fw-semibold"><span [countUp]="124" class="counter-value"
                                [options]="option"></span>k</h2>
                        <p class="mb-0 text-muted"><span class="badge bg-light text-danger mb-0">
                                <i class="ri-arrow-down-line align-middle"></i> 0.96 %
                            </span> vs. previous month</p>
                    </div>
                    <div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-info-subtle text-info rounded-circle fs-4">
                                <i class="mdi mdi-timer-sand"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-xxl-6 col-sm-5">
                        <div class="search-box">
                            <input type="text" class="form-control search bg-light border-light" id="searchJob"
                                autocomplete="off" placeholder="Search for jobs or companies..."
                                [(ngModel)]="filter.searchValue">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-sm-3">
                        <div class="input-light">
                            <ng-select [items]="departmentData" bindValue="id" bindLabel="departmentName"
                                [(ngModel)]="filter.departmentId" placeholder="Department">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-sm-4 d-flex gap-2">
                        <button type="button" class="btn btn-primary w-100" (click)="filterData(this.filter);">
                            <i class="ri-equalizer-fill me-1 align-bottom"></i> Filters
                        </button>
                        <button type="button" class="btn btn-soft-danger w-100" (click)="resetFilter();">
                            <i class="ri-repeat-2-fill me-1 align-bottom"></i> Reset
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12" *ngIf="this.doctorList.data.length === 0">
        <div class="card">
            <div class="card-body text-center">
                <p class="text-muted fs-4">Not found any doctor</p>
            </div>
        </div>
    </div>
    <div class="col-xxl-2 col-sm-3" *ngFor="let doctor of this.doctorList.data">
        <div class="card">
            <div class="card-body">
                <a type="button" class="btn btn-sm btn-icon btn-soft-primary float-end" ngbTooltip="Edit Doctor"
                    routerLink="/admin/manage-doctor/edit-doctor/{{doctor.id}}"><i class="las la-edit fs-16"></i>
                </a>
                <div class="avatar-md mb-2">
                    <div class="avatar-title bg-light rounded">
                        <img src="{{hostName + '/' + doctor.avatarUrl}}" alt="" class="avatar-sm">
                    </div>
                </div> <a href="javascript:void(0);">
                    <h5>{{doctor.fullName}}</h5>
                </a>
                <p class="text-muted">Speciality: <span class="text-primary">{{doctor.speciality}}</span></p>
                <div class="row mb-3">
                    <div class="col"><i
                            class="mdi mdi-card-account-details-outline text-primary me-1 align-bottom"></i>{{doctor.id}}
                    </div>
                    <div class="col"><i
                            class="mdi mdi-hospital-building text-primary me-1 align-bottom"></i>{{doctor.departmentName}}
                    </div>
                </div>
                <div class="mt-2 hstack gap-2">
                    <a routerLink="/admin/manage-doctor/view-doctor/{{doctor.id}}"
                        class="btn btn-sm btn-soft-primary w-50">View Details</a>
                    <a routerLink="/admin/assign-schedule/{{doctor.id}}" class="btn btn-sm btn-soft-success w-50">Assign
                        Schedule</a>
                </div>
            </div>
        </div>
    </div>
    <ngb-pagination class="d-flex justify-content-end pt-2" [collectionSize]="this.doctorList.recordsTotal"
        [pageSize]="this.pageSize" [(page)]="this.currentPage" (pageChange)="onPageChanges($event)"
        aria-label="Custom pagination">
        <ng-template ngbPaginationPrevious let-page let-pages="pages">
            <i class="ci-arrow-left me-2"></i>
            Prev
        </ng-template>
        <ng-template ngbPaginationNext>
            Next
            <i class="ci-arrow-right ms-2"></i>
        </ng-template>
    </ngb-pagination>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>