<app-breadcrumbs title="Profile" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="row">
    <div class="col-12">
        <button class="btn"></button>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-4">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex gap-4 align-items-center mb-3">
                            <img src="{{this.doctorData.avatarUrl}}" alt=""
                                class="avatar-xl rounded-circle img-thumbnail">
                            <h3>{{this.doctorData.fullName}}</h3>
                            <div class="align-self-start ms-auto">
                                <a type="button" class="btn btn-sm btn-outline-secondary border-0"
                                    routerLink="/doctor/edit-profile/{{selectedId}}" placement="top"
                                    ngbTooltip="Edit Doctor">
                                    <i class="fs-3 las la-edit"></i>
                                </a>
                            </div>
                        </div>
                        <div class="d-flex flex-column gap-3">
                            <h5>Contact details:</h5>
                            <div class="d-flex gap-3 align-items-center">
                                <i class="fs-4 text-primary ri-smartphone-line"></i>
                                <span class="fs-6 text-muted">
                                    {{this.doctorData.phoneNumber}}
                                </span>
                            </div>
                            <div class="d-flex gap-3 align-items-center">
                                <i class="fs-4 text-primary ri-mail-line"></i>
                                <span class="fs-6 text-muted">
                                    {{this.doctorData.email}}
                                </span>
                            </div>
                            <div class="d-flex gap-3 align-items-center">
                                <i class="fs-4 text-primary ri-home-4-line"></i>
                                <span class="fs-6 text-muted text-wrap">
                                    {{this.doctorData.address}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-0">
                        <h4 class="card-title mb-0">Schedules</h4>
                    </div><!-- end cardheader -->
                    <div class="card-body pt-0">
                        <div class="upcoming-scheduled">
                            <input type="text" class="form-control" mwlFlatpickr [altInput]="true"
                                [convertModelValue]="true" [inline]="true" (change)="onChangeDate($event)">
                        </div>

                        <h6 class="text-uppercase fw-semibold mt-4 mb-3 text-muted">Events:</h6>
                        <div
                            *ngIf="this.schedulesInfo && this.schedulesInfo.length !== 0, then haveSchedules else noSchedules">
                        </div>
                        <ng-template #haveSchedules>
                            <div class="mini-stats-wid d-flex align-items-center mt-3">
                                <div class="flex-shrink-0 avatar-sm">
                                    <span
                                        class="mini-stat-icon avatar-title rounded-circle text-success bg-success-subtle fs-4">
                                        {{getDate()}}
                                    </span>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <div class="mb-2" *ngFor="let schedule of this.schedulesInfo">
                                        <div><span class="fw-semibold">{{schedule.shiftName}}:</span> {{schedule.shiftTime}} - {{schedule.breakTime}}</div>
                                        <p class="text-muted mb-0">{{schedule.description}}</p>
                                    </div>
                                </div>
                                <div class="flex-shrink-0">
                                    <a href="javascript:void(0);" class="text-muted mb-0 text-decoration-underline">have
                                        <span class="text-success fw-bold fs-6">{{this.totalApptOnDate}}</span>
                                        appts
                                    </a>
                                </div>
                            </div><!-- end -->
                        </ng-template>
                        <ng-template #noSchedules>
                            <div class="mini-stats-wid d-flex align-items-center mt-3" style="min-height: 150px">
                                <div class="flex-shrink-0 avatar-sm">
                                    <span
                                        class="mini-stat-icon avatar-title rounded-circle text-success bg-success-subtle fs-4">
                                        {{getDate()}}
                                    </span>
                                </div>
                                <h5 class="flex-grow-1 ms-3">No schedules on this day</h5>
                            </div>
                        </ng-template>

                    </div><!-- end cardbody -->
                </div><!-- end card -->
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-8">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Overview</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-lg-4 mb-4">
                                <div class="d-flex flex-column gap-2">
                                    <span class="text-muted">Date of birth</span>
                                    <span class="fs-6 fw-medium text-primary">{{this.doctorData.dateOfBirth}}</span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4 mb-4">
                                <div class="d-flex flex-column gap-2">
                                    <span class="text-muted">Gender</span>
                                    <span class="fs-6 fw-medium text-primary">{{this.doctorData.gender}}</span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4 mb-4">
                                <div class="d-flex flex-column gap-2">
                                    <span class="text-muted">National ID</span>
                                    <span class="fs-6 fw-medium text-primary">{{this.doctorData.nationalId}}</span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4 mb-4">
                                <div class="d-flex flex-column gap-2">
                                    <span class="text-muted">Speciality</span>
                                    <span class="fs-6 fw-medium text-primary">{{this.doctorData.speciality}}</span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4 mb-4">
                                <div class="d-flex flex-column gap-2">
                                    <span class="text-muted">Department</span>
                                    <span class="fs-6 fw-medium text-primary">{{this.doctorData.departmentName}}</span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4 mb-4">
                                <div class="d-flex flex-column gap-2">
                                    <span class="text-muted">Join time</span>
                                    <span class="fs-6 fw-medium text-primary">{{this.doctorData.createdDate}}</span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4 mb-4">
                                <div class="d-flex flex-column gap-2">
                                    <span class="text-muted">Working start date</span>
                                    <span
                                        class="fs-6 fw-medium text-primary">{{this.doctorData.workingStartDate}}</span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4 mb-4">
                                <div class="d-flex flex-column gap-2">
                                    <span class="text-muted">Working end date</span>
                                    <span class="fs-6 fw-medium text-primary">{{this.doctorData.workingEndDate}}</span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4 mb-4">
                                <div class="d-flex flex-column gap-2">
                                    <span class="text-muted">Last update</span>
                                    <span class="fs-6 fw-medium text-primary">{{this.doctorData.updatedDate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-12">
                <div class="card">
                    <div class="card-header">
                        <h4>History Appointment</h4>
                    </div>
                    <div class="card-body">
                        <!-- Nav tabs -->
                        <div class="table-responsive">
                            <table class="table table-bordered table-nowrap">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Assignee</th>
                                        <th scope="col">Price</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Implement new UX</td>
                                        <td><span class="badge bg-primary-subtle text-primary">Backlog</span>
                                        </td>
                                        <td>Lanora Sandoval</td>
                                        <td>$4,521</td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="#" role="button" id="dropdownMenuLink"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="ri-more-2-fill"></i>
                                                </a>

                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <li><a class="dropdown-item" href="#">View</a></li>
                                                    <li><a class="dropdown-item" href="#">Edit</a></li>
                                                    <li><a class="dropdown-item" href="#">Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Design syntax</td>
                                        <td><span class="badge bg-secondary-subtle text-secondary">In
                                                Progress</span>
                                        </td>
                                        <td>Calvin Garrett</td>
                                        <td>$7,546</td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="#" role="button" id="dropdownMenuLink"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="ri-more-2-fill"></i>
                                                </a>

                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <li><a class="dropdown-item" href="#">View</a></li>
                                                    <li><a class="dropdown-item" href="#">Edit</a></li>
                                                    <li><a class="dropdown-item" href="#">Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Configurable resources</td>
                                        <td><span class="badge bg-success-subtle text-success">Done</span>
                                        </td>
                                        <td>Florence Guzman</td>
                                        <td>$1,350</td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="#" role="button" id="dropdownMenuLink"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="ri-more-2-fill"></i>
                                                </a>

                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <li><a class="dropdown-item" href="#">View</a></li>
                                                    <li><a class="dropdown-item" href="#">Edit</a></li>
                                                    <li><a class="dropdown-item" href="#">Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Implement extensions</td>
                                        <td><span class="badge bg-secondary-subtle text-secondary">In
                                                Progress</span>
                                        </td>
                                        <td>Maritza Blanda</td>
                                        <td>$4,521</td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="#" role="button" id="dropdownMenuLink"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="ri-more-2-fill"></i>
                                                </a>

                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <li><a class="dropdown-item" href="#">View</a></li>
                                                    <li><a class="dropdown-item" href="#">Edit</a></li>
                                                    <li><a class="dropdown-item" href="#">Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!-- end card-body -->
                </div>
            </div><!--end col-->
        </div>
    </div>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>