<div class="container border border-primary p-2">
  <div class="d-flex">
    <img
      class="pe-3"
      src="../../../assets/images/logo-dark.png"
      alt="hospital-logo"
      height="50"
    />
    <div>
      <div>
        <h5>Bệnh viện Trung ương Đa khoa thành phố Cần Thơ</h5>
      </div>
      <div>
        <strong>Địa chỉ:</strong> Đường Lý Tự Trọng, Phường An Khánh, Quận Ninh
        Kiều, TP Cần Thơ
      </div>
      <div><strong>Điện thoại: </strong>0776484878</div>
      <div>
        <strong>Email: </strong>info&#64;hospital.com
        <strong>- Website: </strong>www.facebook.com
      </div>
    </div>
  </div>
  <hr />
  <div class="d-flex justify-content-between">
    <h5>ID: 187590384534</h5>
    <div>Cần Thơ, ngày 23 tháng 03 năm 2024</div>
  </div>

  <div class="d-flex justify-content-center py-3">
    <h2>PHIẾU KHÁM BỆNH</h2>
  </div>

  <form action="">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-5 form-check mb-3">
        <input
          class="form-check-input"
          type="checkbox"
          id="formCheck6"
          checked
        />
        <label class="form-check-label" for="formCheck6">
          Đặt cho bản thân
        </label>
      </div>
      <div class="col-5 form-check mb-3">
        <input class="form-check-input" type="checkbox" id="formCheck6" />
        <label class="form-check-label" for="formCheck6">
          Đặt cho người thân
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <div class="row">
          <div class="col-3 d-flex justify-content-end">
            <label class="text-end form-label" for="patientName">
              Patient <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-9">
            <input
              type="text"
              id="patientName"
              class="form-control"
              placeholder="Enter your name"
            />
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="row">
          <div class="col-3 d-flex justify-content-end">
            <label class="text-end form-label" for="patientName">
              Gender <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-9">
            <select
              class="form-select mb-3"
              aria-label="Default select example"
            >
              <option value="1">Male</option>
              <option value="2">Female</option>
              <option value="3">Others</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-7">
        <div class="row">
          <div class="col-3 d-flex justify-content-end">
            <label class="text-end form-label" for="patientName">
              Patient <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-9">
            <input
              type="text"
              id="patientName"
              class="form-control"
              placeholder="Enter your name"
            />
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="row">
          <div class="col-3 d-flex justify-content-end">
            <label class="text-end form-label" for="patientName">
              Gender <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-9">
            <select
              class="form-select mb-3"
              aria-label="Default select example"
            >
              <option value="1">Male</option>
              <option value="2">Female</option>
              <option value="3">Others</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-7">
        <div class="row">
          <div class="col-3 d-flex justify-content-end">
            <label class="text-end form-label" for="patientName">
              Patient <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-9">
            <input
              type="text"
              id="patientName"
              class="form-control"
              placeholder="Enter your name"
            />
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="row">
          <div class="col-3 d-flex justify-content-end">
            <label class="text-end form-label" for="patientName">
              Gender <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-9">
            <select
              class="form-select mb-3"
              aria-label="Default select example"
            >
              <option value="1">Male</option>
              <option value="2">Female</option>
              <option value="3">Others</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-7">
        <div class="row">
          <div class="col-3 d-flex justify-content-end">
            <label class="text-end form-label" for="patientName">
              Patient <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-9">
            <input
              type="text"
              id="patientName"
              class="form-control"
              placeholder="Enter your name"
            />
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="row">
          <div class="col-3 d-flex justify-content-end">
            <label class="text-end form-label" for="patientName">
              Gender <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-9">
            <select
              class="form-select mb-3"
              aria-label="Default select example"
            >
              <option value="1">Male</option>
              <option value="2">Female</option>
              <option value="3">Others</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
