<div class="container border border-primary p-3">
  <div class="d-flex">
    <img class="pe-3 d-none d-lg-flex" src="../../../assets/images/logo-dark.png" alt="hospital-logo" height="50" />
    <div>
      <div>
        <h5>Can Tho City Central General Hospital</h5>
      </div>
      <div>
        <strong>Address:</strong> Ly Tu Trong Street, An Khanh Ward, Ninh District
        Kieu, Can Tho City
      </div>
      <div><strong>Hotline: </strong>0821-095-399</div>
      <div>
        <strong>Email: </strong>info&#64;hospital.com -
        <strong> Website: </strong>www.facebook.com
      </div>
    </div>
  </div>
  <hr />
  <h2 class="py-3 text-center">MEDICAL APPOINTMENT FORM</h2>
  <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
    <div class="row gap-lg-3">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-7 mb-sm-3">
            <div class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center is-invalid">
              <label for="patientName" class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                style="min-width: 130px;">Patient
                <span class="text-danger">*</span></label>
              <div class="w-100">
                <input type="text" readonly autocomplete="off" placeholder="Enter your name" class="form-control"
                  id="patientName" formControlName="patientName"
                  [ngClass]="{'is-invalid': submitted && this.f['patientName'].errors}">
                <div class="invalid-feedback">
                  Please enter patient's name
                </div>
              </div>

            </div>

          </div>
          <div class="col-lg-5 mb-sm-3">
            <div class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
              <label for="gender" class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                style="min-width: 130px;">Gender<span class="text-danger">*</span></label>
              <div class="w-100">
                <select id="gender" class="form-select" aria-label="Default select example" formControlName="gender"
                  [ngClass]="{'is-invalid': submitted && this.f['gender'].errors}">
                  <option value="0">Male</option>
                  <option value="1">Female</option>
                  <option value="2">Others</option>
                </select>
                <div class="invalid-feedback">
                  Please choose patient's gender
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-4 mb-sm-3">
            <div class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
              <label for="phoneNumber" class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                style="min-width: 130px;">Mobile
                <span class="text-danger">*</span></label>
              <div class="w-100">
                <input type="text" readonly autocomplete="off" placeholder="Enter your phone number"
                  class="form-control flex-grow-1" id="phoneNumber" formControlName="phoneNumber"
                  [ngClass]="{'is-invalid': submitted && this.f['phoneNumber'].errors}">
                <div class="invalid-feedback">
                  Please enter phone number
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-sm-3">
            <div class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
              <label for="dateOfBirth" class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                style="min-width: 130px;">Date of
                birth <span class="text-danger">*</span></label>
              <div class="w-100">
                <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth" readonly
                  [ngClass]="{'is-invalid': submitted && this.f['dateOfBirth'].errors}">
                <div class="invalid-feedback">
                  Please select date of birth
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-sm-3">
            <div class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
              <label for="email" class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                style="min-width: 130px;">Email <span class="text-danger">*</span></label>
              <div class="w-100">
                <input type="text" readonly autocomplete="off" placeholder="Enter your email" class="form-control"
                  id="email" formControlName="email" [ngClass]="{'is-invalid': submitted && this.f['email'].errors}">
                <div class="invalid-feedback">
                  Please enter email
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12 mb-sm-3">
            <div class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
              <label for="address" class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                style="min-width: 130px;">Address
                <span class="text-danger">*</span></label>
              <div class="w-100">
                <input type="text" readonly autocomplete="off" placeholder="Enter your address"
                  class="form-control flex-grow-1" id="address" formControlName="address"
                  [ngClass]="{'is-invalid': submitted && this.f['address'].errors}">
                <div class="invalid-feedback">
                  Please enter address
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 mb-sm-3">
            <div class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
              <label for="appointmentDate" class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                style="min-width: 130px;">Appointment date <span class="text-danger">*</span></label>
              <div class="w-100">
                <input type="date" class="form-control flex-grow-1" id="appointmentDate"
                  formControlName="appointmentDate"
                  [ngClass]="{'is-invalid': submitted && this.f['appointmentDate'].errors}">
                <div class="invalid-feedback">
                  Please select appointment date
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-sm-3">
            <div class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
              <label for="time" class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                style="min-width: 130px;">Time
                <span class="text-danger">*</span></label>
              <div class="w-100">
                <input class="form-control flatpickr-input" type="text" id="time" formControlName="time" mwlFlatpickr
                  [defaultValue]="'07:00'" [noCalendar]="true" [enableTime]="true" [dateFormat]="'H:i'" [time24hr]="true"
                  [ngClass]="{'is-invalid': submitted && this.f['time'].errors}" placeholder="hh:mm" id="cleave-time"
                  autocomplete="off" />
                <div class="invalid-feedback">
                  Please select time
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-8 mb-sm-3">
            <div class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
              <label for="doctorName" class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                style="min-width: 130px;">Doctor <span class="text-danger">*</span></label>
              <div class="w-100">
                <input type="text" readonly autocomplete="off" placeholder="Choose a doctor" readonly
                  class="form-control flex-grow-1 bg-primary-subtle" id="doctorName" formControlName="doctorName"
                  [ngClass]="{'is-invalid': submitted && this.f['doctorName'].errors}">
                <div class="invalid-feedback">
                  Please select doctor
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-sm-3">
            <div class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
              <label for="speciality" class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                style="min-width: 130px;">Speciality <span class="text-danger">*</span></label>
              <div class="w-100">
                <input type="text" readonly autocomplete="off" placeholder="Speciality of doctor" readonly
                  class="form-control flex-grow-1 bg-primary-subtle" id="speciality" formControlName="speciality"
                  [ngClass]="{'is-invalid': submitted && this.f['speciality'].errors}">
                <div class="invalid-feedback">
                  Please select doctor
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-8 mb-sm-3">
            <div class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
              <label for="modeOfConsultant" class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                style="min-width: 130px;">Mode of consultant <span class="text-danger">*</span></label>
              <select id="gender" class="form-select" aria-label="Default select example" id="modeOfConsultant"
                formControlName="modeOfConsultant"
                [ngClass]="{'is-invalid': submitted && this.f['modeOfConsultant'].errors}">
                <option value="1">Tele Consultant</option>
                <option value="2">Visual Consultant</option>
              </select>
              <div class="invalid-feedback">

              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-sm-3">
            <div class="d-flex flex-lg-row flex-column gap-lg-2 align-items-lg-center">
              <label for="consultantType" class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                style="min-width: 130px;">Consultant type <span class="text-danger">*</span></label>
              <select id="gender" class="form-select" aria-label="Default select example" id="consultantType"
                formControlName="consultantType"
                [ngClass]="{'is-invalid': submitted && this.f['consultantType'].errors}">
                <option value="1">Video</option>
                <option value="2">Audio</option>
              </select>
              <div class="invalid-feedback"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12 mb-sm-3">
            <div class="d-flex flex-lg-row flex-column gap-2">
              <label for="existingIllness" class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0 pt-1"
                style="min-width: 130px;">Medical history</label>
              <textarea class="form-control" placeholder="Enter your medical history if any" id="existingIllness"
                style="height: 100px" formControlName="existingIllness"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12 mb-sm-3">
            <div class="d-flex flex-lg-row flex-column gap-2">
              <label for="drugAllergies" class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                style="min-width: 130px;">Allergies
              </label>
              <textarea class="form-control" placeholder="Enter your allergy medications if any" id="drugAllergies"
                style="height: 100px" formControlName="drugAllergies"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12 mb-sm-3">
            <div class="d-flex flex-lg-row flex-column gap-2">
              <label for="note" class="form-label float-lg-end float-start text-lg-end text-nowrap mb-0"
                style="min-width: 130px;">Notes</label>
              <textarea class="form-control" placeholder="Enter notes if any" id="note" style="height: 100px"
                formControlName="note"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-end gap-3">
      <button class="btn btn-soft-light text-dark" type="button" (click)="resetForm()"><i class="las la-undo-alt ms-0 me-1"></i>Reset</button>
      <button class="btn btn-soft-primary" type="submit"><i class="las la-edit ms-0 me-1"></i>Appointment</button>
    </div>
  </form>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
