<div class="card">
    <div class="card-header">
        <h4 class="card-title mb-0">{{title}}</h4>
    </div><!-- end card header -->

    <div class="card-body">

        <div class="listjs-table" id="pagination-list">
            <div class="mb-2">
                <input type="text" class="search form-control" placeholder="Search" [(ngModel)]="term"/>
            </div>

            <div class="mx-n3">
                <ul class="list list-group list-group-flush mb-0">
                    <li *ngFor="let data of paginationDatas | filterBy:['name','type']:term" class="list-group-item">
                        <div class="d-flex align-items-center pagi-list">
                            <div class="flex-shrink-0 me-3">
                                <div>
                                    <img class="image avatar-xs rounded-circle" alt="" src="
                                        {{data.img}}">
                                </div>
                            </div>

                            <div class="flex-grow-1 overflow-hidden">
                                <h5 class="fs-13 mb-1"><a href="#" class="link text-body">{{data.name}}</a>
                                </h5>
                                <p class="born timestamp text-muted mb-0">{{data.type}}</p>
                            </div>

                            <div class="flex-shrink-0 ms-2">
                                <div>
                                    <button type="button" class="btn btn-sm btn-primary"><i
                                            class="las la-check-circle"></i> Choose</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end list item -->
                </ul>
                <!-- end ul list -->

                <div class="d-flex justify-content-center">
                    <div class="text-sm-right float-sm-end listjs-pagination gap-2">
                        <ngb-pagination [collectionSize]="6" [(page)]="page" [pageSize]="pageSize"
                            (pageChange)="loadPage()">
                        </ngb-pagination>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- end card -->
</div>