<app-breadcrumbs title="Edit Doctor" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="row" *ngIf="!isLoading">
    <div class="col-xxl-12">
        <div class="card">
            <div class="card-header">
                <ul ngbNav #customNav="ngbNav" [activeId]="1"
                    class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
                    <li [ngbNavItem]="1" class="nav-item">
                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                            <i class="fas fa-home"></i>
                            Personal Details
                        </a>
                        <ng-template ngbNavContent>
                            <form [formGroup]="personalForm" (ngSubmit)="onPersonalFormSubmit()">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label for="FullName" class="form-label">Full name <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" autocomplete="off" class="form-control" id="FullName"
                                                formControlName="FullName" placeholder="Enter doctor's name"
                                                [ngClass]="{ 'is-invalid': personalFormSubmitted && personalFormControl['FullName'].errors }">
                                            <div class="invalid-feedback">
                                                Full name is required
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="NationalId" class="form-label">National ID <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" autocomplete="off" class="form-control" id="PhoneNumber"
                                                maxlength="10" placeholder="Enter doctor's national id"
                                                formControlName="NationalId"
                                                [ngClass]="{ 'is-invalid': personalFormSubmitted && personalFormControl['NationalId'].errors }">
                                            <div class="invalid-feedback">
                                                National Id is required
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="Email" class="form-label">Email <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" autocomplete="off" class="form-control" id="Email"
                                                pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                                                placeholder="Enter doctor's email" formControlName="Email"
                                                [ngClass]="{ 'is-invalid': personalFormSubmitted && personalFormControl['Email'].errors }">
                                            <div class="invalid-feedback"
                                                *ngIf="this.personalFormControl['Email'].errors?.['required']">
                                                Email is required
                                            </div>
                                            <div class="invalid-feedback"
                                                *ngIf="this.personalFormControl['Email'].errors?.['email'] || this.personalFormControl['Email'].errors?.['pattern']">
                                                Email format is incorrect
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <label for="DateOfBirth" class="form-label">Date of birth <span
                                                    class="text-danger">*</span></label>
                                            <input type="date" class="form-control" id="DateOfBirth" 
                                                placeholder="Select date of birth" formControlName="DateOfBirth"
                                                [ngClass]="{ 'is-invalid': personalFormSubmitted && personalFormControl['DateOfBirth'].errors }">
                                            <div class="invalid-feedback">
                                                Date of birth is required
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <label for="Gender" class="form-label">Gender <span
                                                    class="text-danger">*</span></label>
                                            <select name="" id="Gender" class="form-select" formControlName="Gender"
                                                [ngClass]="{ 'is-invalid': personalFormSubmitted && personalFormControl['Gender'].errors }">
                                                <option value="0">Male</option>
                                                <option value="1">Female</option>
                                                <option value="2">Other</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                Gender is required
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <label for="PhoneNumber" class="form-label">Phone number <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="PhoneNumber" autocomplete="off"
                                                placeholder="Enter doctor's phone number" formControlName="PhoneNumber"
                                                maxlength="10"
                                                [ngClass]="{ 'is-invalid': personalFormSubmitted && personalFormControl['PhoneNumber'].errors }">
                                            <div class="invalid-feedback">
                                                Phone number is required
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-12">
                                        <div class="mb-3 pb-2">
                                            <label for="Address" class="form-label">Address <span
                                                    class="text-danger">*</span></label>
                                            <textarea class="form-control" id="exampleFormControlTextarea" id="Address"
                                                formControlName="Address" placeholder="Enter doctor's address" rows="3"
                                                [ngClass]="{ 'is-invalid': personalFormSubmitted && personalFormControl['Address'].errors }"></textarea>
                                            <div class="invalid-feedback">
                                                Address is required
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-12">
                                        <div class="mb-3 pb-2">
                                            <label for="avatar" class="form-label">Upload avatar</label>
                                            <input type="file" id="avatar" class="form-control"
                                                (change)="onFileChange($event)"
                                                [ngClass]="{ 'is-invalid': personalFormSubmitted && personalFormControl['Avatar'].errors }">
                                            <div class="invalid-feedback">
                                                Avatar is required
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                                <div class="d-flex justify-content-end gap-3">
                                    <button class="btn btn-soft-danger" type="button">Cancel</button>
                                    <button [disabled]="!personalFormChanged()" class="btn btn-soft-success"
                                        type="submit">Save changes</button>
                                </div>
                            </form>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2" class="nav-item">
                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                            <i class="far fa-envelope"></i>
                            Contract
                        </a>
                        <ng-template ngbNavContent>
                            <form [formGroup]="contractForm" (ngSubmit)="onContractFormSubmit()">
                                <div id="newlink">
                                    <div id="1">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label for="speciality" class="form-label">Speciality <span
                                                            class="text-danger">*</span></label>
                                                    <input type="text" autocomplete="off" class="form-control"
                                                        id="speciality" [value]="this.doctorDetails.speciality"
                                                        placeholder="Enter doctor's Speciality"
                                                        formControlName="Speciality"
                                                        [ngClass]="{ 'is-invalid': contractFormSubmitted && contractFormControl['Speciality'].errors }">
                                                    <div class="invalid-feedback">
                                                        Speciality is required
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label for="departmentId" class="form-label">Department <span
                                                            class="text-danger">*</span></label>
                                                    <ng-select [items]="departmentData" bindValue="id"
                                                        bindLabel="departmentName" formControlName="DepartmentId"
                                                        [(ngModel)]="selectedDepartment"
                                                        [ngClass]="{'is-invalid': contractFormSubmitted && this.contractFormControl['DepartmentId'].errors }"
                                                        placeholder="Department">
                                                        <ng-template ng-optgroup-tmp let-item="item">
                                                            {{item.country || 'Unnamed group'}}
                                                        </ng-template>
                                                    </ng-select>
                                                    <div class="invalid-feedback">
                                                        Department is required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="workingStartDate" class="form-label">Working start date
                                                        <span class="text-danger">*</span></label>
                                                    <input type="date" class="form-control" id="workingStartDate"
                                                        placeholder="Enter working start date"
                                                        formControlName="WorkingStartDate"
                                                        [ngClass]="{ 'is-invalid': contractFormSubmitted && contractFormControl['WorkingStartDate'].errors }"
                                                        [value]="this.doctorDetails.workingStartDate">
                                                    <div class="invalid-feedback">
                                                        Working start date is required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="workingEndDate" class="form-label">Working end
                                                        date</label>
                                                    <input type="date" class="form-control" id="workingEndDate"
                                                        formControlName="WorkingEndDate"
                                                        placeholder="Enter working start date"
                                                        [ngClass]="{ 'is-invalid': contractFormSubmitted && contractFormControl['WorkingEndDate'].errors }">
                                                    <div class="invalid-feedback">
                                                        Working end date is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end row-->
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end gap-3">
                                    <button class="btn btn-soft-danger" type="button">Cancel</button>
                                    <button class="btn btn-soft-success" type="submit">Save changes</button>
                                </div>
                            </form>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="3" class="nav-item">
                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                            <i class="far fa-user"></i>
                            Change Password
                        </a>
                        <ng-template ngbNavContent>
                            <form [formGroup]="changePassForm" (ngSubmit)="onChangePassFormSubmit()">
                                <div class="row g-2">
                                    <div class="col-lg-4">
                                        <div>
                                            <label for="oldpasswordInput" class="form-label">Current password <span
                                                    class="text-danger">*</span></label>
                                            <input type="password" class="form-control" id="oldpasswordInput"
                                                formControlName="OldPassword" placeholder="Enter current password"
                                                [ngClass]="{ 'is-invalid': changePassFormSubmitted && changePassFormControl['OldPassword'].errors }">
                                            <div class="invalid-feedback">
                                                Current password is required
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-4">
                                        <div>
                                            <label for="newpasswordInput" class="form-label">New password <span
                                                    class="text-danger">*</span></label>
                                            <input type="password" class="form-control" id="newpasswordInput"
                                                formControlName="NewPassword" placeholder="Enter new password"
                                                [ngClass]="{ 'is-invalid': changePassFormSubmitted && changePassFormControl['NewPassword'].errors }">
                                            <div class="invalid-feedback">
                                                New password is required
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-4">
                                        <div>
                                            <label for="confirmpasswordInput" class="form-label">Confirm
                                                password <span class="text-danger">*</span></label>
                                            <input type="password" class="form-control" id="confirmpasswordInput"
                                                formControlName="ConfirmPassword" placeholder="Confirm password"
                                                [ngClass]="{ 'is-invalid': changePassFormSubmitted && changePassFormControl['ConfirmPassword'].errors }">
                                            <div class="invalid-feedback">
                                                Confirm password is required
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <a href="javascript:void(0);"
                                                class="link-primary text-decoration-underline">Forgot Password ?</a>
                                        </div>
                                    </div><!--end col-->
                                    <div class="d-flex justify-content-end gap-3">
                                        <button class="btn btn-soft-danger" type="button">Cancel</button>
                                        <button class="btn btn-soft-success" type="submit">Save changes</button>
                                    </div>
                                </div><!--end row-->
                            </form>
                        </ng-template>
                    </li>

                </ul>
            </div>
            <div class="card-body p-4">
                <div class="tab-content">
                    <div [ngbNavOutlet]="customNav"></div>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->
<div class="d-flex justify-content-center align-items-center" *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>