<app-breadcrumbs title="Edit Doctor" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="row">
    <!-- Primary Alert -->
    <div class="col-12">
        <div class="alert bg-primary border-primary text-white" role="alert">
            <strong>Guide!</strong> Update complete information to be able to <b>make an appointment</b>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xxl-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="loaded">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label for="FullName" class="form-label">Full Name <span
                                        class="text-danger">*</span></label>
                                <input type="text" autocomplete="off" class="form-control" id="FullName"
                                    formControlName="FullName" placeholder="Enter your name"
                                    [ngClass]="{ 'is-invalid': submitted && formControl['FullName'].errors }">
                                <div class="invalid-feedback">
                                    Please enter your name
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="NationalId" class="form-label">National ID <span
                                        class="text-danger">*</span></label>
                                <input type="text" autocomplete="off" class="form-control" id="NationalId"
                                    maxlength="10" placeholder="Enter your national id" formControlName="NationalId"
                                    [ngClass]="{ 'is-invalid': submitted && formControl['NationalId'].errors }">
                                <div class="invalid-feedback">
                                    Please enter your national
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="Email" class="form-label">Email <span class="text-danger">*</span></label>
                                <input type="text" autocomplete="off" class="form-control" id="Email"
                                    pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" placeholder="Enter your email"
                                    formControlName="Email"
                                    [ngClass]="{ 'is-invalid': submitted && formControl['Email'].errors }">
                                <div class="invalid-feedback" *ngIf="this.formControl['Email'].errors?.['required']">
                                    Please enter your email
                                </div>
                                <div class="invalid-feedback"
                                    *ngIf="this.formControl['Email'].errors?.['email'] || this.formControl['Email'].errors?.['pattern']">
                                    Please enter the correct email format
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="DateOfBirth" class="form-label">Date Of Birth <span
                                        class="text-danger">*</span></label>
                                <input type="date" class="form-control" id="DateOfBirth"
                                    placeholder="Select date of birth" formControlName="DateOfBirth"
                                    [ngClass]="{ 'is-invalid': submitted && formControl['DateOfBirth'].errors }">
                                <div class="invalid-feedback">
                                    Please enter your date of birth
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="Gender" class="form-label">Gender <span class="text-danger">*</span></label>
                                <select name="" id="Gender" class="form-select" formControlName="Gender"
                                    [ngClass]="{ 'is-invalid': submitted && formControl['Gender'].errors }">
                                    <option value="0">Male</option>
                                    <option value="1">Female</option>
                                    <option value="2">Other</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select your gender
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="PhoneNumber" class="form-label">Mobile <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="PhoneNumber" autocomplete="off"
                                    placeholder="Enter your phone number" formControlName="PhoneNumber" maxlength="10"
                                    [ngClass]="{ 'is-invalid': submitted && formControl['PhoneNumber'].errors }">
                                <div class="invalid-feedback">
                                    Please enter your mobile
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-12">
                            <div class="mb-3 pb-2">
                                <label for="Address" class="form-label">Address <span
                                        class="text-danger">*</span></label>
                                <textarea class="form-control" id="exampleFormControlTextarea" id="Address"
                                    formControlName="Address" placeholder="Enter your address" rows="3"
                                    [ngClass]="{ 'is-invalid': submitted && formControl['Address'].errors }"></textarea>
                                <div class="invalid-feedback">
                                    Please enter your address
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-12">
                            <div class="mb-3 pb-2">
                                <label for="avatar" class="form-label">Upload Avatar</label>
                                <input type="file" id="avatar" class="form-control" (change)="onFileChange($event)"
                                    [ngClass]="{ 'is-invalid': submitted && formControl['Avatar'].errors }">
                                <div class="invalid-feedback">
                                    Please select your avatar
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                    <div class="d-flex justify-content-end gap-3">
                        <button class="btn btn-soft-danger" type="button">Cancel</button>
                        <button class="btn btn-soft-success" type="submit">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Valid Email</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>Fully complete personal information.</p>
        <p>Go to the registered email address to get the validation code.</p>
        <p>
            <label for="validate-code" class="form-label">Validation Code: <span
                    class="ms-2 text-decoration-none text-muted">{{'0' + this.countDownTime.m}}:{{this.countDownTime.s
                    >= 10 ? this.countDownTime.s : '0' + this.countDownTime.s}}</span>
            </label>
            <input type="text" class="form-control" id="validate-code" [(ngModel)]="otpCode" autocomplete="off">
        </p>
        <p>
            <button role="button" [disabled]="!disableResend" class="btn link-primary px-0 border-0"
                (click)="reSendActivateEmail()"><span
                    class="link-offset-2 text-decoration-underline link-underline-opacity-25 link-underline-opacity-100-hover mt-3">Resend
                    OTP code</span>
            </button>

        </p>
    </div>
    <div class="modal-footer">
        <button role="button" class="btn border-0 btn-outline-dark" (click)="modal.close('Later')">Return to
            edit</button>
        <a role="button" class="btn border-0 btn-soft-success"
            (click)="validOTP() ; modal.close('Save click')">Submit</a>
    </div>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>