<app-breadcrumbs
  title="Make Appointment"
  [breadcrumbItems]="breadcrumbItems"
></app-breadcrumbs>

<div class="row">
  <!-- Primary Alert -->
  <div class="alert bg-primary border-primary text-white" role="alert">
    <strong>Guide!</strong> Let's start with choosing <b>datetime</b> to display
    <b>list doctors on duty</b>
  </div>
</div>

<div class="row py-2 bg-white">
  <div class="col-4">
    <div class="row g-3">
      <div class="col-12">
        <app-datepicker title="Date"></app-datepicker>
      </div>
      <div class="col-12">
        <app-timepicker title="Time"></app-timepicker>
      </div>
    </div>
  </div>
  <div class="col-8">
    <!-- <table class="table table-bordered table-nowrap">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Speciality</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Implement new UX</td>
          <td>
            <span class="badge bg-primary-subtle text-primary">Backlog</span>
          </td>
          <td>Lanora Sandoval</td>
          <td>$4,521</td>
          <td>
            <div class="dropdown">
              <a
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="ri-more-2-fill"></i>
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">View</a></li>
                <li><a class="dropdown-item" href="#">Edit</a></li>
                <li><a class="dropdown-item" href="#">Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Design syntax</td>
          <td>
            <span class="badge bg-secondary-subtle text-secondary"
              >In Progress</span
            >
          </td>
          <td>Calvin Garrett</td>
          <td>$7,546</td>
          <td>
            <div class="dropdown">
              <a
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="ri-more-2-fill"></i>
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">View</a></li>
                <li><a class="dropdown-item" href="#">Edit</a></li>
                <li><a class="dropdown-item" href="#">Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Configurable resources</td>
          <td>
            <span class="badge bg-success-subtle text-success">Done</span>
          </td>
          <td>Florence Guzman</td>
          <td>$1,350</td>
          <td>
            <div class="dropdown">
              <a
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="ri-more-2-fill"></i>
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">View</a></li>
                <li><a class="dropdown-item" href="#">Edit</a></li>
                <li><a class="dropdown-item" href="#">Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Implement extensions</td>
          <td>
            <span class="badge bg-secondary-subtle text-secondary"
              >In Progress</span
            >
          </td>
          <td>Maritza Blanda</td>
          <td>$4,521</td>
          <td>
            <div class="dropdown">
              <a
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="ri-more-2-fill"></i>
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">View</a></li>
                <li><a class="dropdown-item" href="#">Edit</a></li>
                <li><a class="dropdown-item" href="#">Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table> -->
    <app-list-tables title="List of doctors on duty"></app-list-tables>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title mb-0">
          <i class="las la-pen-nib me-1 lh-1"></i> Record medical appointment
          form
        </h6>
      </div>
      <div class="card-body">
        <app-appointment-form></app-appointment-form>
      </div>
    </div>
    <!-- end col -->
  </div>
</div>
