<app-breadcrumbs title="Make Appointment" [breadcrumbItems]="breadcrumbItems"></app-breadcrumbs>

<div class="row">
  <!-- Primary Alert -->
  <div class="alert bg-primary border-primary text-white" role="alert">
    <strong>Guide!</strong> Let's start with choosing <b>datetime</b> to display
    <b>list doctors on duty</b>
  </div>
</div>

<div class="row py-2">
  <div class="col-12 col-lg-4">
    <div class="card">
      <div class="card-body">
        <div class="row gap-3">
          <div class="col-12">
            <app-datepicker title="Date"></app-datepicker>
          </div>
          <div class="col-12">
            <app-timepicker title="Time"></app-timepicker>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-8">
    <app-list-tables title="List of doctors on duty"></app-list-tables>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title mb-0">
          <i class="las la-pen-nib me-1 lh-1"></i> Record medical appointment
          form
        </h6>
      </div>
      <div class="card-body">
        <app-appointment-form></app-appointment-form>
      </div>
    </div>
    <!-- end col -->
  </div>
</div>