<app-breadcrumbs title="Appointment On Site" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row pb-4">
                    <div class="col-xl-4 col-sm-8">
                        <div class="d-flex">
                            <ul ngbNav #nav="ngbNav" [activeId]="1"
                                class="nav-pills justify-content-start bg-light p-1 rounded">
                                <li [ngbNavItem]="1">
                                    <button ngbNavLink (click)="initForDay()">Day</button>
                                </li>
                                <li [ngbNavItem]="2">
                                    <button ngbNavLink (click)="initForWeek()">Week</button>
                                </li>
                                <li [ngbNavItem]="3">
                                    <button ngbNavLink (click)="initForHalfMonth()">Half Month</button>
                                </li>
                                <li [ngbNavItem]="4">
                                    <button ngbNavLink (click)="initForMonth()">Month</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-4 order-xl-last">
                        <div class="float-md-end">
                            <button class="btn btn-primary" (click)="showAddPatientModal()">Add New Patient</button>
                        </div>
                    </div>
                    <div class="col-xl-4 mt-2">
                        <div
                            class="border border-primary rounded-pill p-1 d-flex justify-content-between align-items-center">
                            <button class="btn btn-sm btn-ghost-primary rounded-pill fs-4" (click)="previous()"><i
                                    class="las la-angle-left"></i></button>
                            <div class="w-100">
                                <div class="d-flex align-items-center justify-content-center">
                                    <h5 class="ms-auto p-0 m-0">{{calendarTitle}}</h5>
                                    <div class="position-relative ms-auto">
                                        <button class="btn btn-ghost-primary fs-5 border-0"
                                            (click)="inputCalendar.click()"><i class="las la-calendar"></i></button>
                                        <div class="position-absolute" style="z-index: 999; ">
                                            <input class="p-0 m-0 border-0" mwlFlatpickr #inputCalendar
                                                [allowInput]="false" [(ngModel)]="calendarValue"
                                                style="width: 0; height: 0;"
                                                (flatpickrValueUpdate)="onChangeDate($event)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-sm btn-ghost-primary rounded-pill fs-4" (click)="next()"><i
                                    class="las la-angle-right"></i></button>
                        </div>
                    </div>
                </div>

                <div class="row pb-4">
                    <div class="d-flex gap-5">
                        <div class="ms-auto d-flex gap-3 align-items-center">
                            <div class="bg-warning text-white explain-event">
                                <span class="fw-semibold overflow-hidden event-subject">Patient</span>
                                <span class="overflow-hidden p-0 event-time">8:00 AM - 8:30 AM</span>
                            </div>
                            <div class="fs-6 fw-semibold text-muted text-uppercase"> Pending Appointment</div>
                        </div>
                        <div class="d-flex gap-3 align-items-center">
                            <div class="bg-primary text-white explain-event">
                                <div class="fw-semibold overflow-hidden event-subject">Patient</div>
                                <div class="overflow-hidden p-0 event-time">8:00 AM - 8:30 AM</div>
                            </div>
                            <div class="fs-6 fw-semibold text-muted text-uppercase">Confirmed Appointment</div>
                        </div>
                        <div class="d-flex gap-3 align-items-center">
                            <div class="bg-success text-white explain-event">
                                <span class="fw-semibold overflow-hidden event-subject">Patient</span>
                                <span class="overflow-hidden p-0 event-time">8:00 AM - 8:30 AM</span>
                            </div>
                            <div class="fs-6 fw-semibold text-muted text-uppercase"> Completed Appointment</div>
                        </div>
                        <div class="d-flex gap-3 align-items-center">
                            <div class="bg-danger text-white explain-event">
                                <div class="fw-semibold overflow-hidden event-subject">Patient</div>
                                <div class="overflow-hidden p-0 event-time">8:00 AM - 8:30 AM</div>
                            </div>
                            <div class="fs-6 fw-semibold text-muted text-uppercase">Cancelled Appointment</div>
                        </div>
                    </div>
                </div>

                <div class="schedule-container">
                    <ejs-schedule #scheduleObj cssClass='schedule-block-events' width='100%' height="70vh"
                        [enableAllDayScroll]="true" [currentView]="selectedView" [selectedDate]="selectedDate"
                        [eventSettings]="eventSettings" (actionBegin)="onActionBegin($event)" [group]="group"
                        (actionFailure)="onActionFailure($event)" (currentViewChange)="currentViewChange($event)"
                        (eventRendered)="onEventRendered($event)" (renderCell)="onRenderCell($event)"
                        (actionComplete)="onActionComplete($event)" (popupOpen)="popupOpen($event)"
                        [showQuickInfo]="false" [allowDragAndDrop]="false"
                        (eventDoubleClick)="onEventDoubleClick($event)" (cellClick)="onCellClick($event)">
                        <e-resources>
                            <e-resource field='PatientId' name='Patient'
                                [dataSource]='patientResources' [allowMultiple]='true' textField='FullName'
                                idField='Id'>
                            </e-resource>
                        </e-resources>
                        <ng-template #dateHeaderTemplate let-data>
                            <div>
                                <p class="m-0 text-center fw-semibold">{{formatDateHeader(data.date).date}}</p>
                                <p class="m-0 text-center">{{formatDateHeader(data.date).dayOfWeek}}</p>
                            </div>
                        </ng-template>
                        <ng-template #resourceHeaderTemplate let-data>
                            <div class="template-wrap" *ngIf="data.resourceData['Id']">
                                <div class="employee-category">
                                    <div>
                                        <img class="resource-image" *ngIf="getPatientImg(data)"
                                            src="{{getPatientImg(data)}}" />
                                    </div>
                                    <div class="resource-name">{{getPatientName(data)}}</div>
                                    <div class="designation">{{getPatientInfo(data)}}</div>
                                </div>
                            </div>
                        </ng-template>
                        <e-header-rows>
                            <e-header-row [option]="'Date'"></e-header-row>
                            <e-header-row option="Hour" *ngIf="displayHour"></e-header-row>
                        </e-header-rows>
                        <ng-template #editorHeaderTemplate let-data>
                            <div *ngIf="data.Subject; else createNewEvent">
                                <div class="border-bottom pb-3 d-flex align-items-center gap-3">
                                    <span class="fs-5 fw-semibold">Appointment Details </span>
                                    <span
                                        class="badge bg-{{setColor(data.AppointmentStatus)}}-subtle text-{{setColor(data.AppointmentStatus)}} text-capitalize fw-bold"
                                        style="font-size: small;">{{data.AppointmentStatus}}</span>
                                </div>
                            </div>
                            <ng-template #createNewEvent>
                                <div class="border-bottom">
                                    <p class="fs-5 fw-semibold">Make Appointment</p>
                                </div>
                            </ng-template>
                        </ng-template>
                        <ng-template #editorTemplate let-data>
                            <table class="custom-event-editor" width="100%" cellpadding="5">
                                <tbody>
                                    <tr>
                                        <td class="e-textlabel text-nowrap">Patient <span class="text-danger">*</span>
                                        </td>
                                        <td colspan="4">
                                            <ejs-dropdownlist id='Patient' class="form-control"
                                                [ngClass]="{ 'is-invalid': isInvalid }" data-name="Patient"
                                                placeholder='Choose Patient' [dataSource]='patients' [fields]="fields"
                                                [allowFiltering]="true" (filtering)="onFilteringPatient($event)"
                                                filterBarPlaceholder="Search Name or National Id/Passport"
                                                [(value)]="selectedPatient" [allowObjectBinding]="true"
                                                [readonly]="editMode">
                                            </ejs-dropdownlist>
                                            <div class="invalid-feedback">This field is required</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="e-textlabel text-nowrap">Appointment Date <span
                                                class="text-danger">*</span></td>
                                        <td colspan="4">
                                            <ejs-datetimepicker id="EndTime" class="form-control" data-name="AppointmentDate"
                                                format="M/dd/yy h:mm a" [value]="data.StartTime">
                                            </ejs-datetimepicker>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="e-textlabel text-nowrap">Existing Illness</td>
                                        <td colspan="4">
                                            <textarea id="ExistingIllness" class="form-control"
                                                name="ExistingIllness" rows="2" cols="50"
                                                value="{{data.ExistingIllness}}"
                                                style="width: 100%; resize: vertical"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="e-textlabel text-nowrap">Allergies</td>
                                        <td colspan="4">
                                            <textarea id="Allergies" class="form-control" name="Allergies" rows="2"
                                                cols="50" value="{{data.Allergies}}"
                                                style="width: 100%; resize: vertical"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="e-textlabel text-nowrap">Notes</td>
                                        <td colspan="4">
                                            <textarea id="Notes" class="form-control" name="Notes" rows="2" cols="50"
                                                value="{{data.Notes}}" style="width: 100%; resize: vertical"></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-template>
                        <e-views>
                            <e-view option="TimelineDay" displayName="Day" startHour="07:00" endHour="23:00"></e-view>
                            <e-view option="TimelineWeek" displayName="Week"></e-view>
                            <e-view option="TimelineWeek" displayName="Half Month" interval="2"></e-view>
                            <e-view option="TimelineMonth" displayName="Month"></e-view>
                        </e-views>
                    </ejs-schedule>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #addNewPatientModal let-modal>
    <div class="modal-header pb-3 border-bottom">
        <h5 class="modal-title">Add New Patient</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="addPatientFormGroup" (ngSubmit)="addNewPatient()">
            <div class="container px-0">
                <div class="row justify-content-center">
                    <div class="col-lg-12 mb-3">
                        <label class="form-label" for="username">Username <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="username" formControlName="username"
                            autocomplete="off" placeholder="Enter username"
                            [ngClass]="{'is-invalid': addPatientForm_submitted && this.addPatientFormGroup.controls['username'].errors }">
                        <div class="invalid-feedback">
                            Username is required
                        </div>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <label class="form-label" for="password">Password <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="password" formControlName="password"
                            autocomplete="off" placeholder="Enter password" maxlength="10" type="password"
                            [ngClass]="{'is-invalid': addPatientForm_submitted && this.addPatientFormGroup.controls['password'].errors }">
                        <div class="invalid-feedback">
                            Password is required
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row justify-content-center">
                    <div class="col-lg-12 mb-3">
                        <label class="form-label" for="fullName">Full name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="fullName" formControlName="fullName"
                            autocomplete="off" placeholder="Enter patient's name"
                            [ngClass]="{'is-invalid': addPatientForm_submitted && this.addPatientFormGroup.controls['fullName'].errors }">
                        <div class="invalid-feedback">
                            Full name is required
                        </div>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <label class="form-label" for="nationalId">National
                            ID <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="nationalId" formControlName="nationalId"
                            autocomplete="off" placeholder="Enter patient's national id" maxlength="10"
                            [ngClass]="{'is-invalid': addPatientForm_submitted && this.addPatientFormGroup.controls['nationalId'].errors }">
                        <div class="invalid-feedback">
                            National ID is required
                        </div>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <label class="form-label" for="email">Email <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="email" formControlName="email"
                            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" autocomplete="off"
                            placeholder="Enter email"
                            [ngClass]="{'is-invalid': addPatientForm_submitted && this.addPatientFormGroup.controls['email'].errors }">
                        <div class="invalid-feedback"
                            *ngIf="this.addPatientFormGroup.controls['email'].errors?.['required']">
                            Email is required
                        </div>
                        <div class="invalid-feedback"
                            *ngIf="this.addPatientFormGroup.controls['email'].errors?.['email'] || this.addPatientFormGroup.controls['email'].errors?.['pattern']">
                            Email format is incorrect
                        </div>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <label class="form-label" for="dateOfBirth">Date of
                            birth <span class="text-danger">*</span></label>
                        <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth"
                            [ngClass]="{'is-invalid': addPatientForm_submitted && this.addPatientFormGroup.controls['dateOfBirth'].errors }">
                        <div class="invalid-feedback">
                            Date Of Birth is required
                        </div>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <label class="form-label" for="gender">Gender <span class="text-danger">*</span></label>
                        <select class="form-select" formControlName="gender" id="Gender"
                            [ngClass]="{'is-invalid': addPatientForm_submitted && this.addPatientFormGroup.controls['gender'].errors }">
                            <option selected value="" hidden>Select gender</option>
                            <option value="0">Male</option>
                            <option value="1">Female</option>
                            <option value="2">Other</option>
                        </select>
                        <div class="invalid-feedback">
                            Gender is required
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <label class="form-label" for="phoneNumber">Phone number <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="phoneNumber" autocomplete="off"
                            formControlName="phoneNumber" placeholder="Enter patient's phone number" maxlength="10"
                            [ngClass]="{'is-invalid': addPatientForm_submitted && this.addPatientFormGroup.controls['phoneNumber'].errors }">
                        <div class="invalid-feedback">
                            Phone number is required
                        </div>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <label class="form-label" for="address">Address <span class="text-danger">*</span></label>
                        <textarea class="form-control" placeholder="Enter patient's address" formControlName="address"
                            id="address" rows="2"
                            [ngClass]="{'is-invalid': addPatientForm_submitted && this.addPatientFormGroup.controls['address'].errors }"></textarea>
                        <div class="invalid-feedback">
                            Address is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end gap-3 mt-5">
                <button type="button" class="btn btn-light" (click)="closeModal()">Close</button>
                <button type="button" class="btn btn-success" type="submit">Save</button>
            </div>
        </form>
    </div>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>