@import "../../../../../node_modules/@syncfusion/ej2-material-theme/styles/material.css";


.schedule-block-events.e-schedule
  .e-timeline-view
  .e-appointment
  .template-wrap
  .subject {
  padding: 10px 25px;
}

.schedule-block-events .subject {
  text-align: center;
}

.schedule-block-events.e-schedule .template-wrap {
  width: 100%;
}

.schedule-block-events.e-schedule .e-vertical-view .e-resource-cells {
  height: 58px;
}

.schedule-block-events.e-block-appointment .subject,
.schedule-block-events.e-schedule
  .e-vertical-view
  .e-appointment
  .template-wrap
  .subject {
  padding-top: 10px;
}

.schedule-block-events.e-schedule .e-timeline-view .e-resource-left-td,
.schedule-block-events.e-schedule .e-timeline-month-view .e-resource-left-td {
  width: 250px;
}

.schedule-block-events.e-schedule
  .e-resource-cells.e-child-node
  .resource-category,
.schedule-block-events.e-schedule
  .e-resource-cells.e-child-node
  .resource-name {
  padding: 5px;
}

.schedule-block-events.e-schedule .resource-image {
  width: 60px;
  height: 55px;
  float: left;
  border-radius: 50%;
  margin-right: 10px;
}

.schedule-block-events.e-schedule .resource-name {
  font-size: 15px;
  font-weight: 500;
}

.schedule-block-events.e-schedule .short-description {
  font-size: 13px;
}

.e-schedule-toolbar-container {
  display: none;
}

.e-schedule .e-timeline-week-view .e-date-header-wrap table td:nth-child(8),
.e-schedule .e-timeline-week-view .e-content-wrap table td:nth-child(8),
.e-schedule .e-timeline-week-view .e-date-header-wrap table td:first-child,
.e-schedule .e-timeline-week-view .e-content-wrap table td:first-child {
  background: #ffdbc8;
}

.e-schedule .e-timeline-week-view .e-date-header-wrap table td:nth-child(7),
.e-schedule .e-timeline-week-view .e-content-wrap table td:nth-child(7),
.e-schedule .e-timeline-week-view .e-date-header-wrap table td:last-child,
.e-schedule .e-timeline-week-view .e-content-wrap table td:last-child {
  background: #bde0f5;
}

.e-schedule
  .e-timeline-view.e-timeline-day-view
  .e-date-header-wrap
  .e-header-row:first-child {
  display: none;
}

.e-schedule-toolbar-container {
  display: none;
}

.sun {
  background: #ffdbc8 !important;
}

.sat {
  background: #bde0f5 !important;
}

.e-event-delete,
.e-event-save,
.e-event-cancel,
.e-quick-dialog-delete,
.e-quick-dialog-cancel {
  padding: 0.5rem 0.9rem;
  border-radius: 0.25rem;
  font-weight: normal;
  color: #fff !important;
  text-transform: capitalize;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: "IBM Plex Sans", sans-serif;
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
}

.e-event-delete,
.e-quick-dialog-delete {
  background: #fa896b !important;
}

.e-event-delete:hover,
.e-quick-dialog-delete:hover {
  background: #d5745b !important;
}

.e-event-save {
  background: #6ada7d !important;
}

.e-event-save:hover {
  background: #55ae64 !important;
}

.e-event-cancel,
.e-quick-dialog-cancel {
  color: #222 !important;
  background: #f3f6f9 !important;
}

.e-event-cancel:hover,
.e-quick-dialog-cancel:hover {
  background: #ced4da !important;
}

.e-time-slots > span {
  text-align: center;
  position: relative;
  left: 55%;
}

.explain-event {
  border: 1px solid #e8eaf6;
  border-radius: 2px;
  color: #fff;
  height: 38px;
  width: 68px;
  display: flex;
  flex-direction: column;
  padding: 0 4px;
  font-size: 12px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.explain-event .event-subject {
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.explain-event .event-time {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.e-input-group, .e-input-group.e-control-wrapper {
  margin-bottom: 0;
  
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left) {
  border-bottom: none;
  border: none;
}

textarea.e-input {
  border: var(--vz-border-width) solid var(--vz-input-border-custom) !important;
  border-width: 1px !important;
  border-radius: 0.25rem !important;
  padding: 0.5rem 0.9rem !important;
}

.e-textlabel {
  margin: calc(0.5rem + 2px) 0.9rem !important;

}