<app-breadcrumbs title="Profile" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="row">
    <div class="col-12">
        <button class="btn"></button>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-4">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex gap-4 align-items-center mb-3">
                            <img src="assets/images/users/avatar-1.jpg" alt=""
                                class="avatar-xl rounded-circle img-thumbnail">
                            <p class="fs-3 fw-bolder">Mr. Robinson</p>
                            <div class="align-self-start ms-auto">
                                <button type="button" class="btn btn-sm btn-outline-secondary border-0"
                                    routerLink="/admin/manage-doctor/edit-doctor/{{selectedId}}" placement="top"
                                    ngbTooltip="Edit Doctor">
                                    <i class="fs-3 las la-edit"></i>
                                </button>
                            </div>
                        </div>
                        <div class="d-flex flex-column gap-3">
                            <h5>Contact details:</h5>
                            <div class="d-flex gap-3 align-items-center">
                                <i class="fs-4 text-primary ri-smartphone-line"></i>
                                <span class="fs-5 text-muted">
                                    0768 xxx xxx
                                </span>
                            </div>
                            <div class="d-flex gap-3 align-items-center">
                                <i class="fs-4 text-primary ri-mail-line"></i>
                                <span class="fs-5 text-muted">
                                    example&#64;gmail.com
                                </span>
                            </div>
                            <div class="d-flex gap-3 align-items-center">
                                <i class="fs-4 text-primary ri-home-4-line"></i>
                                <span class="fs-5 text-muted text-wrap">
                                    Ninh Kieu District, Can Tho City
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-grow-1" [ngSwitch]="true">
                                <h6 *ngSwitchCase="completionLevel <= 30" class="mb-0">Completion level: <b
                                        class="text-danger">{{completionLevel}}%</b></h6>
                                <h6 *ngSwitchCase="completionLevel <= 60 && completionLevel > 30" class="mb-0">
                                    Completion level: <b class="text-primary">{{completionLevel}}%</b></h6>
                                <h6 *ngSwitchDefault class="mb-0">Completion level: <b
                                        class="text-success">{{completionLevel}}%</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="progress bg-success-subtle rounded-0" [ngSwitch]="true">
                        <div *ngSwitchCase="completionLevel <= 30" class="progress-bar bg-danger" role="progressbar"
                            [ngStyle]="{'width': completionLevel + '%'}" aria-valuenow="60" aria-valuemin="0"
                            aria-valuemax="100"></div>
                        <div *ngSwitchCase="completionLevel > 30 && completionLevel <= 60"
                            class="progress-bar bg-primary" role="progressbar"
                            [ngStyle]="{'width': completionLevel + '%'}" aria-valuenow="60" aria-valuemin="0"
                            aria-valuemax="100"></div>
                        <div *ngSwitchDefault class="progress-bar bg-success" role="progressbar"
                            [ngStyle]="{'width': completionLevel + '%'}" aria-valuenow="60" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-0">
                        <h4 class="card-title mb-0">Schedules</h4>
                    </div><!-- end cardheader -->
                    <div class="card-body pt-0">
                        <div class="upcoming-scheduled">
                            <input type="text" class="form-control" mwlFlatpickr [altInput]="true"
                                [convertModelValue]="true" [inline]="true" (change)="onChangeDate($event)">
                        </div>

                        <h6 class="text-uppercase fw-semibold mt-4 mb-3 text-muted">Events:</h6>
                        <div class="mini-stats-wid d-flex align-items-center mt-3">
                            <div class="flex-shrink-0 avatar-sm">
                                <span
                                    class="mini-stat-icon avatar-title rounded-circle text-success bg-success-subtle fs-4">
                                    {{getDate()}}
                                </span>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <div>
                                    <h6 class="mb-1">7:20 AM - 10:30 AM</h6>
                                    <p class="text-muted mb-0">On duty in clinic number 3</p>
                                </div>
                                <div class="mt-3">
                                    <h6 class="mb-1">01:20 PM - 07:30 PM</h6>
                                    <p class="text-muted mb-0">On duty in clinic number 2</p>
                                </div>
                            </div>
                            <div class="flex-shrink-0">
                                <a href="javascript:void(0);" class="text-muted mb-0 text-decoration-underline">have
                                    <span class="text-success fw-bold fs-6">3</span> appts
                                </a>
                            </div>
                        </div><!-- end -->
                    </div><!-- end cardbody -->
                </div><!-- end card -->
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-8">
        <div class="row">
            <div class="col-12">
                <div class="card ribbon-box">
                    <div class="card-body">
                        <div class="ribbon ribbon-primary border shadow-none ribbon-shape">About</div>
                        <div class="ribbon-content text-muted mt-4">
                            <p class="fs-6 text-muted fst-italic">
                                " As of my last update in January 2022, Angular 17 had not been released. Angular 12 was
                                the
                                latest stable version available at that time. However, I can provide information about
                                the
                                "compare" validator in Angular and how it's typically used. "</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Overview</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-lg-4 mb-4">
                                <div class="d-flex flex-column gap-2">
                                    <span class="text-muted">Date of birth</span>
                                    <span class="fs-6 fw-medium text-primary">06/12/2001</span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4 mb-4">
                                <div class="d-flex flex-column gap-2">
                                    <span class="text-muted">Gender</span>
                                    <span class="fs-6 fw-medium text-primary">Male</span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4 mb-4">
                                <div class="d-flex flex-column gap-2">
                                    <span class="text-muted">National ID</span>
                                    <span class="fs-6 fw-medium text-primary">3857 854 4949</span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4 mb-4">
                                <div class="d-flex flex-column gap-2">
                                    <span class="text-muted">Speciality</span>
                                    <span class="fs-6 fw-medium text-primary">Cancer</span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4 mb-4">
                                <div class="d-flex flex-column gap-2">
                                    <span class="text-muted">Department</span>
                                    <span class="fs-6 fw-medium text-primary">Brain</span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4 mb-4">
                                <div class="d-flex flex-column gap-2">
                                    <span class="text-muted">Join time</span>
                                    <span class="fs-6 fw-medium text-primary">10:30 AM 05/12/2023</span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4 mb-4">
                                <div class="d-flex flex-column gap-2">
                                    <span class="text-muted">Working start date</span>
                                    <span class="fs-6 fw-medium text-primary">10:30 AM 05/12/2023</span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4 mb-4">
                                <div class="d-flex flex-column gap-2">
                                    <span class="text-muted">Working end date</span>
                                    <span class="fs-6 fw-medium text-primary">10:30 AM 05/12/2023</span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4 mb-4">
                                <div class="d-flex flex-column gap-2">
                                    <span class="text-muted">Last active</span>
                                    <span class="fs-6 fw-medium text-primary">10:30 AM 05/12/2023</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-12">
                <div class="card">
                    <div class="card-body">
                        <!-- Nav tabs -->
                        <ul ngbNav #BorderTop="ngbNav" [activeId]="1"
                            class="nav nav-tabs nav-justified nav-border-top nav-border-top-primary mb-3">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>
                                    <i class="ri-home-5-line align-middle me-1"></i> Upcoming appointment
                                </a>
                                <ng-template ngbNavContent>
                            <li class="list-group-item ps-0" *ngFor="let data of UpcomingActivities">
                                <div class="row align-items-center g-3">
                                    <div class="col-auto">
                                        <div class="avatar-sm p-1 py-2 h-auto bg-light rounded-3">
                                            <div class="text-center">
                                                <h5 class="mb-0">{{data.date}}</h5>
                                                <div class="text-muted">{{data.day}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <h5 class="text-muted mt-0 mb-1 fs-13">{{data.time}}</h5>
                                        <a href="javascript:void(0);" class="text-reset fs-14 mb-0">{{data.content}}</a>
                                    </div>
                                    <div class="col-sm-auto">
                                        <div class="avatar-group">
                                            <div class="avatar-group-item" *ngFor="let user of data.users">
                                                <a href="javascript: void(0);" class="d-block" *ngIf="!user.profile">
                                                    <div class="avatar-xxs">
                                                        <span class="avatar-title rounded-circle {{user.variant}}">
                                                            {{user.name?.charAt(0)}}
                                                        </span>
                                                    </div>
                                                </a>
                                                <a href="javascript: void(0);" class="d-block"
                                                    ngbTooltip="{{user.name}}" placement="top" *ngIf="user.profile">
                                                    <img :src="{{user.profile}}" alt=""
                                                        class="rounded-circle avatar-xxs">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end row -->
                            </li><!-- end -->
                            <div class="d-flex justify-content-center">
                                <a href="#" class="text-muted text-decoration-underline">View all appointment</a>
                            </div>
                            </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>
                                    <i class="ri-user-line me-1 align-middle"></i> History appointment
                                </a>
                                <ng-template ngbNavContent>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-nowrap">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Id</th>
                                                    <th scope="col">Title</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Assignee</th>
                                                    <th scope="col">Price</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Implement new UX</td>
                                                    <td><span
                                                            class="badge bg-primary-subtle text-primary">Backlog</span>
                                                    </td>
                                                    <td>Lanora Sandoval</td>
                                                    <td>$4,521</td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <a href="#" role="button" id="dropdownMenuLink"
                                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                                <i class="ri-more-2-fill"></i>
                                                            </a>

                                                            <ul class="dropdown-menu"
                                                                aria-labelledby="dropdownMenuLink">
                                                                <li><a class="dropdown-item" href="#">View</a></li>
                                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>Design syntax</td>
                                                    <td><span class="badge bg-secondary-subtle text-secondary">In
                                                            Progress</span>
                                                    </td>
                                                    <td>Calvin Garrett</td>
                                                    <td>$7,546</td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <a href="#" role="button" id="dropdownMenuLink"
                                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                                <i class="ri-more-2-fill"></i>
                                                            </a>

                                                            <ul class="dropdown-menu"
                                                                aria-labelledby="dropdownMenuLink">
                                                                <li><a class="dropdown-item" href="#">View</a></li>
                                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">3</th>
                                                    <td>Configurable resources</td>
                                                    <td><span class="badge bg-success-subtle text-success">Done</span>
                                                    </td>
                                                    <td>Florence Guzman</td>
                                                    <td>$1,350</td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <a href="#" role="button" id="dropdownMenuLink"
                                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                                <i class="ri-more-2-fill"></i>
                                                            </a>

                                                            <ul class="dropdown-menu"
                                                                aria-labelledby="dropdownMenuLink">
                                                                <li><a class="dropdown-item" href="#">View</a></li>
                                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">4</th>
                                                    <td>Implement extensions</td>
                                                    <td><span class="badge bg-secondary-subtle text-secondary">In
                                                            Progress</span>
                                                    </td>
                                                    <td>Maritza Blanda</td>
                                                    <td>$4,521</td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <a href="#" role="button" id="dropdownMenuLink"
                                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                                <i class="ri-more-2-fill"></i>
                                                            </a>

                                                            <ul class="dropdown-menu"
                                                                aria-labelledby="dropdownMenuLink">
                                                                <li><a class="dropdown-item" href="#">View</a></li>
                                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <a href="#" class="text-muted text-decoration-underline">View all history</a>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div class="tab-content text-muted">
                            <div [ngbNavOutlet]="BorderTop"></div>
                        </div>
                    </div><!-- end card-body -->
                </div>
            </div><!--end col-->
        </div>
    </div>
</div>